[2016-05-05 11:36] thangngoc89 commented on #438
This is what I wrote from the docs. And this is by design, not a bug.

[2016-05-05 11:40] MoOx commented on #438
Technically it's not a bug indeed, but since it's not intuitive, we need to change that.

[2016-05-05 13:38] MoOx opened #441 "Better Logo"
Current logo does not looks great. We need a better one.

**Please use GitHub reactions when you like the idea behind a shot.**

[2016-05-05 13:44] MoOx commented on #277
I got the problem with FF when releasing 0.12: I needed to clean my cache to get website up to date. This sucks. Will try to work on a patch asap.

[2016-05-05 13:47] MoOx commented on #211
Closed in favor of #440

[2016-05-05 13:47] #211 closed

[2016-05-05 14:15] thangngoc89 commented on #277
@MoOx is it because of appcache or SW ?

[2016-05-05 14:32] MoOx commented on #277
I guess? No idea, I will have to do some tests. Firefox should ignore manifest if sw is registered.

[2016-05-05 15:25] MoOx opened #442 "Performance, round 2"
Now that perf are back to "normal" (limited by webpack speed), we need to find tricks to make webpack build faster
Maybe

- https://webpack.github.io/docs/list-of-plugins.html#dllplugin
- https://github.com/amireh/happypack
- https://github.com/markfinger/unfort

An interesting issue: https://github.com/webpack/webpack/issues/250

Also: http://www.slideshare.net/trueter/how-to-make-your-webpack-bu

[2016-05-05 15:32] thangngoc89 commented on #442
I tried happypack with phenomic before. Only gain 1-2s. I tried it again soon

[2016-05-05 15:41] MoOx opened #443 "How to mix CSS modules with legacy CSS? .global.css"
tl;dr: https://github.com/putaindecode/putaindecode.io/blob/6c830193a4f873790df3d10df9ef3e2e89bbd36b/webpack.config.babel.js#L45-L75

here “styles.css” files are css modules, and files in the “legacy” folder are normal css

[2016-05-05 19:27] MoOx commented on #442
Just an idea: find a way to detect if there is any file change (or not) to decide if we need to compile via webpack, or just use previously compiled files. This way we could skip webpack build step (eg: if no files in web_modules has been changed + node_modules tree untouched). This may be convenient when you only write content.

[2016-05-05 19:53] MoOx opened #444 "Boilerplate: Rename LayoutContainer to AppContainer"
Following https://twitter.com/MoOx/status/728210032093990912

[2016-05-05 20:20] MoOx commented on #443
More here https://gitter.im/MoOx/phenomic?at=572baa59df1a01ff18fce02f

[2016-05-05 20:41] DavidWells commented on #260
👍

[2016-05-05 20:58] MoOx opened #445 "setup: no repo/twitter throw an error"
@aschrab https://gitter.im/MoOx/phenomic?at=572bb36372798bd77bea6be1

[2016-05-06 01:41] janicak opened #446 "Recommended approach for integrating Phenomic site with search URL params and results from an external API?"
Greetings from another user of this awesome project!

I'm trying to integrate a Phenomic-generated site with an external API for a "search results" page, and was wondering if you have have any recommendations about including query params in the URL (possibly related to issue #15).

I've so far tried:

Search input onSubmit: `this.context.router.push("search/?"+query)`
+
In routes.js: `<Route path=

[2016-05-06 04:32] thangngoc89 commented on #442
It sounds like a good idea. But I don't know how hard would it be to implementing such a feature like that.

[2016-05-06 05:25] thangngoc89 opened #448 "Should not show "Offline support is disabled in development mode" when offline isn't defined"

[2016-05-06 06:48] thangngoc89 commented on #439
This depends on the webpack setup. And it's really annoying. In my case, I can't have a pattern to ignore unneded files in my scripts folder

![image](https://cloud.githubusercontent.com/assets/3049054/15066159/2018f1c6-1391-11e6-88e5-263a980a9db9.png)

We can have a temp working folder and delete that folder after build

[2016-05-06 06:52] MoOx commented on #439
No we can't use a temp working dir since during the commonjs build, path are relative.
Well maybe we can but we need the exact same depth in the tree so link to node_modules (that are transformed by webpack to relative links) need to be working).

[2016-05-06 06:59] MoOx commented on #446
I think search query string can't be matched
So try to:

- don't specify the query in the Route path (maybe double check in [react-router docs](https://github.com/reactjs/react-router/blob/master/docs/Glossary.md#routepattern)
- just use context.location.search?

Otherwise you could use `search/:query` but page won't be generated anyway (only .md are generated for now - this sucks but will be impr

[2016-05-06 09:36] janicak commented on #446
Thanks @MoOx! To clarify, are you suggesting ...

1. In routes.js:
`<Route path="search" component={ SearchResults } />`

2. curl ".../search?hey"

3. Access "?hey" from context.location.search from within the SearchResults component? I tried to search for docs about context.location, but didn't find anything helpful, and wasn't able to work that out.

If an example comes to mind, that would be aw

[2016-05-06 09:54] thangngoc89 commented on #446
@janicak did you take a look at react-router's query-params example app ? https://github.com/reactjs/react-router/blob/master/examples/query-params/app.js

[2016-05-06 10:01] thangngoc89 commented on #446
Btw, I put some code together as an example for you. See it here

https://github.com/MoOx/phenomic/compare/issue/446?expand=1

`search.md` was added as an placeholder to tell phenomic to generate an search/index.html on static build

[2016-05-06 13:57] arlair commented on #40
I was investigating this tool to use with a MobX store app, so removing Redux is 👍  from me.

[2016-05-06 14:16] MoOx commented on #40
Will be handled soon (hopefully)

[2016-05-06 18:54] janicak commented on #446
@thangngoc89 Many thanks for getting back and for the examples!

I have them both working, but am noticing that if you type a query in the URL bar and submit, rather than clicking on the button, the 404 page will flash briefly before returning to the search page. Is there a way to use the loading page instead?

[2016-05-06 19:02] janicak commented on #446
Never mind, that only appears to be the case for the dev server - the build version is good

[2016-05-06 20:51] MoOx opened #450 "Consider using babel-node instead of babel to avoid the *.babel.js need in node context"
File consumed via webpack build don't need this, but since we removed babel-plugin-webpack-loaders, I also removed babel-node.
We should try using it back and check perfs. If same result (or almost, since require hook is already on, to handle those *.babel.js via https://github.com/tkellen/node-interpret) we can add it back.

[2016-05-07 06:14] MoOx commented on #440
master branch is now the default branch and docs will be deploy after release.

[2016-05-07 06:14] #440 closed

[2016-05-07 06:41] thangngoc89 commented on #446
@janicak No problems. I'll close this issue for now. Feel free to re-open it.

[2016-05-07 06:41] #446 closed

[2016-05-07 06:44] thangngoc89 commented on #450
Hum. I confused. The require hook no the same as `babel-node`. Maybe remove the pattern `/\.babel\.js/`  in the require hook ? It should work.

[2016-05-07 06:44] MoOx opened #451 "Random 404, even on production, when using client side navigation"
I just opened https://phenomic.io/ and looked for Usage / Deploy to github and got a 404. This is bad. Maybe related to SW.

[2016-05-07 06:47] thangngoc89 commented on #451
I saw that too. But only 1 time, I can't reproduce it anymore to find out what causing this problem.

[2016-05-07 07:17] thangngoc89 opened #452 "FAQ: I open index.html after build and the page has no styling"
Use a webserver to serve it.

Like [http-server](https://npm.im/http-server) or you can tell Phenomic to run a server for build result with this command:

[code]

[2016-05-08 06:55] MoOx opened #459 "Ability to inline CSS in HTML"
Since only one HTML per user session is used, no big deal.
And it's good for perf (and [gatsby is now supporting this](https://github.com/gatsbyjs/gatsby/issues/145#issuecomment-217691369)).
A flag in config should be easy (enabled by default), and/or support for CSS chunk names (default to all CSS, support for array to filter chunk names with string/regex support).

[2016-05-08 15:59] kuzvac commented on #459
Just interested: with css modules, how it can help?

[2016-05-08 16:02] thangngoc89 commented on #459
@kuzvac I don't think it would help us with anything here.

[2016-05-08 16:07] MoOx commented on #459
The idea is just to inline the CSS to avoid an HTTP query. So no relation with how the CSS is handled (sass, css modules...).

[2016-05-08 16:17] kuzvac commented on #459
Oh, ok, thank you.

[2016-05-08 22:35] DavidWells commented on #459
Checkout https://github.com/addyosmani/critical-path-css-tools might be useful for this issue.

The idea with critical is that is will inline above the fold CSS for that 'instant' load feel without needing to inline all of the sites CSS in the head tag

[2016-05-08 23:35] DavidWells commented on #441
Maybe something like this? http://codepen.io/DavidWells/pen/XdOVOj =)

[2016-05-09 03:40] MoOx commented on #441
Haha. Nice effect.
I am more thinking about a logo with an icon that can be used as an avatar.

[2016-05-09 04:21] MoOx commented on #438
We can just "throw" a warning, if all 3 keys are not provided.

[2016-05-09 04:24] MoOx commented on #451
I think the following scenario create this issue:

- I have offline mode with SW
- I open the homepage
- later (after an update of the website), I reopen the homepage: cache is used since our SW say "cache first"
- in this homepage, collection reference to json files are out of date, and if file is not cached already, when I will open a page, I will get a 404 (client side 404).

According to this,

[2016-05-09 04:30] #448 closed

[2016-05-09 05:18] #445 closed

[2016-05-09 07:22] thangngoc89 commented on #451
Yeah. That might be the scenario here. We clean cached content but doesn't change json files link.

[2016-05-09 07:24] thangngoc89 commented on #438
It's a solution but I don't like it. :/

[2016-05-09 07:45] MoOx commented on #438
It's better than nothing right?

[2016-05-09 07:48] thangngoc89 commented on #438
Nah. I don't think so. The reason I implemented this kind of behavior in the first place because I don't want to force user to remember (or check the docs) for all the keys needed.

[2016-05-09 07:50] MoOx commented on #438
Yeah but UX is bad because if you don't read the doc (or too quickly) you get an unexpected result and you will end up asking for help.

[2016-05-09 07:52] thangngoc89 commented on #438
Okie. Let's go with throwing error. #415 will resolve all the UX issues

[2016-05-09 07:53] MoOx commented on #438
There is no silver bullet. Not sure a command will solve all problems like that.

[2016-05-09 07:56] thangngoc89 commented on #438
Right. But first thing first, resolve this issue first

[2016-05-09 08:52] MoOx opened #461 "CMS Admin"
- file tree to browser content/modules
- text editor
- split view: editor on one side, live view on the other

dev start will open this view. An idea is to start dev view in an iframe, and add just a "phenomic toolbar" which allow you to show/hide the split view with the editor. Should not be a lot of work for v0.1 of this admin :)

This will be handy for "writers".

[2016-05-09 09:29] MoOx opened #462 "Add more visible and accessible ROADMAP"
A ROADMAP.md?
Any other (better) idea?
A page on the website?

[2016-05-09 09:38] thangngoc89 commented on #462
We have issues for all of the features. Using milestones will be easier and more accessible

[2016-05-09 09:43] MoOx commented on #462
I tried Milestones in the past, and I find that those are not easy to find or easy to maintain.

[2016-05-09 12:13] MoOx commented on #423
I just saw this http://jekyll.tips/ which is nice and clear.

[2016-05-09 12:27] MoOx commented on #312
https://github.com/jimpick/lambda-comments

https://jimpick.com/2016/05/05/introducing-lambda-comments/

[2016-05-10 20:48] MoOx opened #466 "Docs: showcase not optimized on small screens"
![img_4800](https://cloud.githubusercontent.com/assets/157534/15162053/48517bae-1701-11e6-8ac3-0cc5291b3017.jpg)

[2016-05-11 07:48] MoOx opened #467 "Docs: add reference to the CLI --help"
https://twitter.com/MoOx/status/730298530464714752

[2016-05-12 15:44] kuzvac opened #469 "onClick not fired for Link elements"
I try to use onClick for Link elements, but it will work only inside Header and Footer components.
In other components, and layouts it's doesn't work. :(

[2016-05-13 01:07] thangngoc89 commented on #469
Maybe it's because phenomic intercepts click event on links :D . See PageContainer component for more information

[2016-05-13 02:10] DavidWells commented on #444
👍 I agree

[2016-05-14 01:21] DavidWells opened #471 "Easier access to current page metadata"
I'm able to get the currently viewed page's metadata by connecting the component through redux: https://github.com/DavidWells/react-class/blob/master/web_modules/Footer/index.js#L67

Then I need to reconcile that with the current page route like: https://github.com/DavidWells/react-class/blob/master/web_modules/Footer/index.js#L14

This works but is a little tricky.
## Proposal:

Add `currentPage`

[2016-05-14 09:37] thangngoc89 commented on #471
Usually in this situation, I'll move Footer component to Page layout. But be aware that redux will be remove soon (at least from public API).

[2016-05-16 08:02] MoOx commented on #471
We need a better api than `@connect`. I think when we will [replace the use of redux to react context](#40) we can provide something built-in.
I got the same use case recently.

[2016-05-16 08:07] MoOx commented on #469
We should only intercept click in the "dangerousHtml" part. Looks like a bug.

@kuzvac can you provide a bit more code? What `Link` component are you using?

[2016-05-16 08:55] kuzvac commented on #469
I use `import { Link } from "phenomic/lib/Link"`
For example, try to use onClick on Link element inside Layouts, or any components except header and footer (inside header and footer onClick works :))

[2016-05-16 18:30] DavidWells commented on #471
Is redux being removed from the core of phenomic or just no longer exposed to the site?

I'm currently dreaming up some ways to make these 'static' sites in such a way that they are combined with full applications / auth.

For example:
The entire site has a store for the current page content, the application, and whether or not the user is logged in.

So basically removing the need for a subdomain

[2016-05-17 06:19] MoOx commented on #471
For now nothing is really decided (see #40 if you want to bring ideas).

I just think for 90% of people, a public store is not useful (eg: if you have a simple website, your are not going to add any reducers).
Phenomic data are really simple (a collection of url => page data), so we can just keep a very basic (non redux) internal store. But we will definitely offer an API to solve the use case of

[2016-05-17 07:09] MoOx commented on #15
I am on it. Should not take that long and user API will be straight forward (nothing specific, just routes with parameters that match name in the frontmatter and boom, generation).

[2016-05-17 07:15] MoOx commented on #469
It's a bit weird since props should be sent to the original react-router Link component https://github.com/MoOx/phenomic/blob/2313c7c59a49fc11afcf2c6b2b16f48a3be2fe28/src/Link/index.js#L18

Will take a deeper look later.

[2016-05-17 07:17] MoOx commented on #469
Maybe we should not return true or false here https://github.com/MoOx/phenomic/blob/2313c7c59a49fc11afcf2c6b2b16f48a3be2fe28/src/PageContainer/component.js#L141 and just preventDefault() when we use push in browserHistory? @thangngoc89 any thoughts?

[2016-05-17 07:20] thangngoc89 commented on #469
Yeah. That should work.

[2016-05-18 16:36] MoOx opened #483 "Add preview to showcase links"
It would be nice to have different sizes of the website like desktop, tablet, mobile.
https://github.com/sindresorhus/pageres might help. We need to generate those only if not available if the process takes time. And not add those in git to avoid heavy .

[2016-05-18 16:37] MoOx opened #484 "Less verbose output for gh deploy"
Currently, the recommended method (used for docs) can be verbose if you have a lot of pages, assets etc. We need to tweak this a little bit to avoid the noize. Or maybe wrap the current script in a node module and only show something like "X files published to {branch}".

[2016-05-18 16:53] MoOx opened #485 "Change default service worker behavior"
Currently it's cache first. But it's not relevant for our docs.
A better behavior is network first, cache if offline.
https://github.com/GoogleChrome/sw-toolbox and https://github.com/GoogleChrome/sw-precache can help.

[2016-05-18 21:36] MoOx commented on #441
Some ideas for inspiration:

- https://thenounproject.com/search/?q=atom
- https://thenounproject.com/search/?q=molecule

[2016-05-18 21:55] MoOx commented on #441
Dirty shot with ADN in mind

![screen shot 2016-05-18 at 23 55 06](https://cloud.githubusercontent.com/assets/157534/15376237/fc904d18-1d53-11e6-8952-f804a2fc9e6a.png)

[2016-05-18 22:05] MoOx commented on #441
![screen shot 2016-05-19 at 00 05 28](https://cloud.githubusercontent.com/assets/157534/15376465/6a8a824c-1d55-11e6-85f9-5f3f53b6be14.png)

[2016-05-18 22:06] MoOx commented on #441
As you can see I am not a designer :D

[2016-05-18 22:07] DavidWells commented on #441
What about something like:
https://camo.githubusercontent.com/243622d9da5c5e342224f1f30c50846625eed571/68747470733a2f2f75696b69742d72656163742e66697265626173656170702e636f6d2f696d616765732f6c6f676f2e737667

With the icon inside the react atom.

Then that icon could be the O in phenomic maybe?

On Wed, May 18, 2016 at 3:05 PM, Maxime Thirouin <notifications@github.com>
wrote:

[2016-05-18 22:10] MoOx commented on #441
I would like to avoid a react like icon. There is already (imo) too many atomic icon (atom, react, redux, etc) and I think a unique identity can be nice.

Will try something with the O in mind. It's a good idea. The letter P is not really cool to work on :)

[2016-05-18 22:12] MoOx commented on #441
![screen shot 2016-05-19 at 00 12 25](https://cloud.githubusercontent.com/assets/157534/15376617/6452fc0a-1d56-11e6-9105-bc0089adec90.png)

Going to bed, will try something tomorrow.

[2016-05-18 22:19] MoOx commented on #441
![screen shot 2016-05-19 at 00 19 00](https://cloud.githubusercontent.com/assets/157534/15376751/5469cd72-1d57-11e6-96d3-33143eda530d.png)

[2016-05-18 22:24] MoOx commented on #441
![screen shot 2016-05-19 at 00 24 00](https://cloud.githubusercontent.com/assets/157534/15376858/02814c3c-1d58-11e6-91d1-34f5fda8f378.png)

[2016-05-19 04:44] MoOx commented on #441
![screen shot 2016-05-19 at 06 43 46](https://cloud.githubusercontent.com/assets/157534/15382723/22127d52-1d8d-11e6-9e43-4e99ac070386.png)

[2016-05-19 04:45] MoOx commented on #441
![screen shot 2016-05-19 at 06 43 51](https://cloud.githubusercontent.com/assets/157534/15382740/4479677a-1d8d-11e6-8d38-ba632cecc8f1.png)

[2016-05-19 04:45] MoOx commented on #441
![screen shot 2016-05-19 at 06 43 54](https://cloud.githubusercontent.com/assets/157534/15382749/5571e354-1d8d-11e6-9979-4a43d40abec0.png)

[2016-05-19 04:46] MoOx commented on #441
![screen shot 2016-05-19 at 06 44 01](https://cloud.githubusercontent.com/assets/157534/15382753/60562cc6-1d8d-11e6-8574-b812f231b6bd.png)

[2016-05-19 04:46] MoOx commented on #441
![screen shot 2016-05-19 at 06 44 11](https://cloud.githubusercontent.com/assets/157534/15382759/6a110100-1d8d-11e6-97cf-5780e7f66754.png)

[2016-05-19 04:46] MoOx commented on #441
![screen shot 2016-05-19 at 06 45 31](https://cloud.githubusercontent.com/assets/157534/15382763/722949f6-1d8d-11e6-9c53-b3f233960ef8.png)

[2016-05-19 04:46] MoOx commented on #441
![screen shot 2016-05-19 at 06 45 35](https://cloud.githubusercontent.com/assets/157534/15382767/77e31a0c-1d8d-11e6-9f9c-1f2cddbdc605.png)

[2016-05-19 04:55] charlespeters commented on #441
i think your concept here is strong
needs a little bit to make it stronger

what is the main point you're trying to convey with the mark? is it that phenomic is static or that it's simple to setup?

![](https://cloud.githubusercontent.com/assets/157534/15382767/77e31a0c-1d8d-11e6-9f9c-1f2cddbdc605.png)

[2016-05-19 05:04] MoOx commented on #441
I think the key here is the idea of **components**.

IMO the best strength of React is the ease to reuse encapsulated components.

[2016-05-19 06:37] MoOx commented on #469
After digging, this won't be solved the "easy" way. I am preparing a clean fix, that will involves a very tiny change in the layouts (replace the dangerouslySetInnerHTML by a Phenomic BodyContainer call).

[2016-05-19 07:08] cedricdelpoux commented on #441
I like hexagons but I'm not sure it's really representative of Phenomic

[2016-05-19 07:10] MoOx commented on #441
Maybe that can help

https://en.wikipedia.org/wiki/Phenomics

https://en.wikipedia.org/wiki/Phenome

[2016-05-19 13:54] MoOx opened #488 "Error: only one instance of babel-polyfill is allowed"
Following https://github.com/stylelint/stylelint/issues/1316

[2016-05-19 14:13] MoOx commented on #441
![phenomic-typo](https://cloud.githubusercontent.com/assets/157534/15396468/93025c40-1ddc-11e6-8a21-789973c9617a.png)

[2016-05-19 14:13] MoOx commented on #441
Typo hand made by my brother

[2016-05-19 14:40] cedricdelpoux commented on #441
Beautiful. I like it !

[2016-05-19 14:43] magsout commented on #441
Good job 👍

[2016-05-19 17:00] ezralalonde opened #489 "join-uri problem?"
First I'd like to thank you for all the work that has been put into Phenomic. It's a fine piece of software that I'm really enjoying using, and I appreciate all the effort that has been put into making it.

Today I noticed that my "og:url" meta was incorrect, and discovered that the cause a possible fault in `join-uri`: it's removing all instances of "//", including those in schemes, which I belie

[2016-05-19 17:05] MoOx commented on #489
This is definitely a bug.
Feel free to make a PR to replace internal utility by the one you mentioned, otherwise I will end up doing it.
Just be sure to continue to expose it in phenomic index like  it was before so we can release this change as a patch. Another is planned for #469.

[2016-05-19 17:10] ezralalonde commented on #489
Cool. I'll submit a pull request this afternoon.

Thanks in advance for your patience in dealing with me…

Cheers,
Ezra.

[2016-05-19 17:14] MoOx commented on #489
No problem. At the stage of this project, every feedback and discussions are welcome :)

[2016-05-19 22:39] ezralalonde commented on #489
Turns out the issue, internally, is a little hairy, since there's not curretly a clear distinction between when it is appropriate to treat things as filesystem paths, and when they are URIs. `join-uri` is, as far as I can tell, is being used for both.

I just ended up writing some tests, since I don't want to break any internals.

[2016-05-20 09:34] MoOx commented on #488
Fixed by stylelint 6.5.0 which is covered by our current range.

[2016-05-20 09:34] #488 closed

[2016-05-20 21:16] #469 closed

[2016-05-20 21:17] MoOx commented on #469
@kuzvac the current way to fix this need a small change in your code. See https://github.com/MoOx/phenomic/blob/master/CHANGELOG.md#0122---2016-05-20

[2016-05-23 07:05] MoOx commented on #441
FYI https://dribbble.com/shots/2728189-Phenomic-Logo
And take a look to the website http://phenomic.io/ (if you have old version, please let me know, I think current service worker implementation sucks a lot).

[2016-05-23 07:06] #441 closed

[2016-05-23 10:51] MoOx commented on #443
We can implement .global.css (the opposite of this https://github.com/gatsbyjs/gatsby/pull/295/files)

[2016-05-23 15:45] DavidWells commented on #443
👍 this will fix me having to wrap a global css library with `:global { }`

[2016-05-23 17:09] MoOx opened #497 "Mirror repo on gitlab and bitbucket"
It's easy. I have done this for lot's of project. I will publish some doc about that, especially to push AND pull from multiple remotes.
This will prevent us to work and share things when github have issues.

[2016-05-26 22:03] thangngoc89 commented on #485
:+1: now I understand why you always want network first.

[2016-05-27 06:19] #489 closed

[2016-05-27 08:16] MoOx opened #502 "Regression with 0.12.3: path.posix does not exist in the browser"
This breaks everything on the client side.

@ezralalonde any idea how to handle this without path.posix? (I don't have much time atm).

Meanwhile, I tagged 0.12.2 as the latest version.

[2016-05-27 10:37] thangngoc89 commented on #502
Why can't we catch this before in unit tests ? This should be an easy fix. I'm on it

[2016-05-27 10:49] MoOx commented on #502
We don't run test in the browser (yet), and I guess webpack provides a "path" polyfill, but the polyfill must be broken.
Thanks for handling this @thangngoc89.

[2016-05-27 15:10] ezralalonde commented on #502
Murphy's Law. Oops!

Thanks @thangngoc89 and @MoOx

[2016-05-30 10:25] #502 closed

[2016-05-30 10:43] MoOx opened #505 "Add client side integration tests with phantomjs or nightmarejs"
That would help to prevent major issue like we just got (eg: #502).

[2016-05-30 10:45] thangngoc89 commented on #505
Do you have any library in mind to do the abstraction ?

Usually I use karma + mocha for this job. But AVA can't be run in the browser

[2016-05-30 10:46] MoOx commented on #505
phantomjs/casperjs but I am not experienced with this kind of testing, so if you have better idea that would be nice.

[2016-05-30 10:48] thangngoc89 commented on #505
No idea either. With the current setup, it's complicated to use another testing framework like karma. Will do some researches about how to test React component wit Phantomjs and AVA

[2016-05-30 10:57] MoOx commented on #505
The idea is not to test react components. The idea is to test the client side navigation. So the final client side runtime. We don't need to care about react in this tests. I think we can just use a phantomjs script to check that this works. We can also use slimerjs to test in both webkit and gecko engine.

[2016-05-30 18:03] pytkin commented on #505
How about Enzyme (https://github.com/airbnb/enzyme)?

[2016-05-30 18:08] MoOx commented on #505
I think you are not understanding the purpose of the tests I want to add. Currently we already have low level tests on react components (mainly PageContainer) but the error that we go cannot be caught because we are running tests using AVA, so no browser involved). So we can probably add test using enzyme and something like karma/testem with mocha/tape/whatever but I would prefer to add real integ

[2016-06-05 20:13] MoOx opened #508 "Add support for themes and inheritance"
Here is what I have in mind, inspired by how Wordpress handle themes:
- by default some files are in the core and can be overwritten by themes (this will allow "defaut boilerplate" to be killed in favor of a "default core theme")
- every theme files can be overwritten

We have to think a little bit more about that, so people can easily "add" things, not just overwrite (eg: add/merge webpack config

[2016-06-05 20:22] MoOx commented on #442
Another idea: think about removing webpack (or making it optional, eg: if you just have JS(X), you can just use babel and a "simpler"(faster?) tool like browserify). That can definitely take a thorn out of our side.

[2016-06-05 21:08] DavidWells commented on #508
I like it. 👍

It would also be a good chance to solidify how 'themes' are made.

For instance, all wordpress themes have a `header.php` and `footer.php` file. Then the single blog post template is `single.php` and the pages are `page.php` https://codex.wordpress.org/Theme_Development#Template_Files_List

This visual representation is also a handy reference: https://developer.wordpress.org/themes/b

[2016-06-07 04:55] MoOx opened #513 "`$ phenomic` does nothing"
We should output something like "use start or build" or something like that.
Or maybe just the help.

[2016-06-07 05:21] thangngoc89 commented on #513
Common cli tool print the help message

[2016-06-07 05:40] #439 closed

[2016-06-07 20:45] MoOx commented on #95
New boilerplate will support global CSS via `*.global.css` files.
That said, I removed almost every kind of global rules that can create conflict, except a default color for ``a`` tag with a comment so people are aware of the issue this can create.
We still need global CSS for html and body tags, as well as some rules for highlighted code (at least for now).

[2016-06-08 05:15] sscotth commented on #443
Can the `test: /\.css$/` be changed to avoid the exclude? Something like `/!(global)\.css$/`. I'm not very good with regex...

[2016-06-08 05:41] MoOx commented on #443
I don't think it's possible to do that :/

[2016-06-08 06:50] #95 closed

[2016-06-08 06:50] #443 closed

[2016-06-08 20:01] MoOx opened #516 "Consider restricting css modules to `sources` and making CSS Modules not the default way to style"
For now the webpack rules for CSS can leads to bugs (even if nobody reported some ;) ) or cause issue with CSS consumed from node_modules (since there is no `include`  for CSS atm), cause most CSS from npm (even if there is not a lot) is probably global CSS.

So here is my idea(s):
- making global css default for .css files, and making css module for .module.css or .m.css or any other convention
-

[2016-06-08 20:07] MoOx opened #517 "Evalutate the possibility to make webpack optional"
Eg: React + inlines styles (+ inline svg as jsx) can works with just babel.
Babel can works without webpack (require hook). So in theory, this can works without webpack. So will make things WAY FASTER. Like A LOT.
You will say "what about .md?". I will say: the loader is pretty simple and stupid, and we can probably extract the logic outside it, and make a simple watcher that update a single JS. T

[2016-06-09 02:26] DavidWells commented on #517
Interesting idea.

What about webpack 2. Are there any performance gains to be had there?

The power behind webpack is the large ecosystem of plugins.

If phenomic moves to its own "build" will all custom loaders will need to be rewritten?

Both might be good (or confusing to people) :)

[2016-06-09 03:25] MoOx commented on #517
No big change with webpack 2.

The api can be: if there is a webpack config file, then build with webpack. If there is none, build without :)
Should not be that confusing.
Like I said, Phenomic custom loader is pretty simple, so no big deal to extract the logic (and keep it as it is) + create a watcher + websocket to send update to files (like webpack dev server does).

[2016-06-09 03:33] MoOx commented on #451
I am thinking about even removing content hash on json. Here is why.

- I load a page "a" (hash "123")
- Another day I load another page "b". The collection in this page indicates that page "a" has changed (hash "456"). Here current cache for "a" is deleted since out of date.
- Another day, I am offline, and goes to page "b" (works, offline cache via sw), then try to access page "a". Hash is "456"

[2016-06-09 04:18] MoOx commented on #516
For now I updated the default boilerplate to scope the default behavior (CSS Modules + *.global.css files) to web_modules folder while we decide for something better (if we can), but the discussion is just starting ;)

[2016-06-09 04:20] #466 closed

[2016-06-09 04:30] MoOx commented on #517
The thing I didn't mention is that something like browserify will be at least required.

[2016-06-09 05:34] thangngoc89 commented on #517
As you talked about browserify, what about roll up?

[2016-06-09 05:35] MoOx commented on #277
Currently this is a big issue on safari, where it's impossible to get page up to date if appcache is on. I will work on that asap.

[2016-06-09 05:36] thangngoc89 commented on #451
Adding hashes is mandatory for some cdn to work properly. Removing them is not a good idea. I think that we should find a way to update the current collection in memory so it will reflect the new content changes.

[2016-06-09 05:38] MoOx commented on #517
why not :)

[2016-06-09 05:39] MoOx commented on #451
The collection is always up to date, the problem is more that you don't have out of date cached pages as fallback.

[2016-06-09 05:52] MoOx commented on #451
Not sure if hashes are mandatory. It's not for html files isn't it?

[2016-06-09 11:32] thangngoc89 commented on #451
Some cdn caches files forever. So it's mandatory to invalidate those files

[2016-06-09 11:46] MoOx commented on #451
So the problem applies for html files as well? More resources about that?

[2016-06-09 12:23] thangngoc89 commented on #451
I don't know about html files.

More info (I use Amazon Cloudfront as an example):

http://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/ReplacingObjectsSameName.html

[2016-06-09 12:27] MoOx commented on #451
So when a user request the item, item will be update on the CDN. Am I not understanding this correctly?

[2016-06-09 13:16] thangngoc89 commented on #451
Until **both** ...

[2016-06-09 14:07] MoOx commented on #451
Fuck. Ok but this solutions leads to problem. I will think about this more.

[2016-06-10 08:57] MoOx commented on #451
Ok, here is a simple solution: when deploying, calling the CDN cache cleanup (for example you can do that with a url on most serious hosting services. This should do the trick. Phenomic should not have to handle caching problem.

[2016-06-10 08:57] MoOx commented on #451
At least it should not introduce bugs while trying to handle a problem it should not handle :/

[2016-06-10 10:00] MoOx commented on #451
Also: cloudflare default cache lifetime is 4 hours. So is it better to have a default behavior that allow 404 or outdated content?

[2016-06-10 10:00] MoOx commented on #451
I think github pages default cache lifetime is 10min.

[2016-06-10 11:51] demoneaux opened #518 "JS file is auto formatted after edit"
The JavaScript code is automatically formatted after I edit it, which I did not expect at first. I removed the `eslint --fix` option in package.json for linting, but it still automatically formats my code when I run phenomic. Is there a way to disable that?

[2016-06-10 12:02] MoOx commented on #518
Take a look to the eslint-loader configuration in webpack.config file, You will see it over there. `"eslint-loader?fix",`. Just remove `?fix` and it should be good.
Just curious, what is the problem with this autofix behavior?

[2016-06-10 12:26] MoOx commented on #285
Nice solution seems to be implemented in react-boilerplate https://github.com/mxstbr/react-boilerplate/blob/229f39e3cd09a555e16da0e9d21ea4bd3a17b840/app/app.js#L66-L80
Tagging as bug, as it's pretty annoying.

[2016-06-10 14:29] taion commented on #285
I'm confused by what the check there does. If I'm reading it correctly, it seems to scroll to the top on every page transition, even when that transition is e.g. a `POP`. I'm not sure why that's correct.

[2016-06-10 14:29] taion commented on #285
cc @mxstbr

[2016-06-10 15:10] mxstbr commented on #285
Uhh, I'm not sure about the terminology here, what is a `POP` transition?

[2016-06-10 15:11] taion commented on #285
`POP` = when you hit the back button or something

By default react-router-scroll should scroll you to the top of a page whenever you e.g. click on a link or something, but restore the old scroll position if pathname changes because you hit the back button.

[2016-06-10 15:12] mxstbr commented on #285
I guess that makes sense, hadn't thought about that at all tbh! The solution we have is only in there because it's annoying when you're editing the footer and HMR kicks in and scrolls back to the top.

Would appreciate an improvement!

[2016-06-10 15:55] mxstbr commented on #285
No, but it will prevent a jump to `[0, 0]`. I.e. we want to go to the top of the page when a new one is opened, but do the default stuff when that's not the case.

[2016-06-10 15:59] taion commented on #285
That's supposed to be what you get if you just do `useScroll()` without a custom `shouldUpdateScroll` at all, though, isn't it?

[2016-06-10 16:26] mxstbr commented on #285
I don't know, you made the library! I don't remember why we put it in, if that's the case I'd love to remove those lines of code!

[2016-06-10 17:39] taion commented on #285
Okay – when you have a chance, then, could you let me know what happens if you take out that callback? I believe everything should work as you expect without it.

[2016-06-11 10:26] mxstbr commented on #285
It does indeed, thanks @taion! Fixed in mxstbr/react-boilerplate@15006efb6079194805d0528f9b48f3579fe85ccf, works as expected.

[2016-06-11 10:34] MoOx commented on #285
Cool, I will implement this asap then!
Thank you both of you!

[2016-06-11 11:18] thangngoc89 commented on #451
@MoOx

I don't see this as a good solution for the situation. I hardly do this since all of my web apps use hashing for assets' filenames. As far as I know, hashing is the best solution for long term caching problems and webpack makes this a lot easier.

Yes. And you can't change it.

In conslusion, I would prefer editing the service worker/ appcache rather than removing such a great built-in feat

[2016-06-11 13:17] MoOx commented on #451
The problem is I don't see we can fix that. Or maybe just impose this constraint: network first (to be sure collection is always up to date - and if fallback to cache, then cached page will be with the correct thing).

So closing in favor of #485

[2016-06-11 13:17] #451 closed

[2016-06-11 13:18] MoOx commented on #485
Taggin as bug as this will fix #451

[2016-06-11 17:11] taion commented on #285
Glad to hear that. The idea was that most use cases could be satisfied by just the one-liner.

Unfortunately I've had almost no time to work on front-end lately to work on fleshing out functionality and adding this to the router, but this solution should work for now.

[2016-06-12 04:40] #285 closed

[2016-06-12 08:18] MoOx commented on #277
FYI, I added a banner on the doc, if someone can take a look on safari or IE to https://phenomic.io/ (eg: open the website now: you will get the "downloading" message, then it will hide, and go later (eg next release) and you will get the downloading message again, then a button to "refresh" (since appcache will first serve cached data). Tell me what you think.

[2016-06-12 08:21] thangngoc89 commented on #277
I saw it :+1:. Nice

[2016-06-12 08:46] MoOx commented on #285
@taion since I implemented this, a `<Link to="/">` gives errors ``SecurityError: The operation is insecure.`` @thangngoc89 is having the issue as well. Any idea?

[2016-06-12 08:47] MoOx opened #521 "^0.14.0 regression: SecurityError: The operation is insecure. when clicking on Link to="/""
Ref https://github.com/MoOx/phenomic/issues/285#issuecomment-225417553

[2016-06-12 08:50] thangngoc89 commented on #285
Full error message (on Chrome)

[2016-06-12 09:27] MoOx commented on #521
Meanwhile, I tagged 0.13.0 as latest on npm.

[2016-06-12 09:36] MoOx commented on #521
Seems related to this https://github.com/reactjs/react-router/issues/3184 not sure why it shows up now we use useScroll (poke @taion)

[2016-06-12 10:00] #521 closed

[2016-06-12 15:08] taion commented on #285
This is specifically a regression from the scroll thing? That's really weird – I don't do anything to affect how push/replace work.

[2016-06-12 15:25] thangngoc89 commented on #285
@taion it was fixed here https://github.com/MoOx/phenomic/commit/c6a7164fd083b2f1b1561dd3fe9211556ba5fcc5

[2016-06-12 15:43] taion commented on #285
Ugh we still have bugs with trailing slash in `basename`? We should fix those...

[2016-06-12 15:47] taion commented on #285
That workaround shouldn't be necessary. How can I reproduce the error?

[2016-06-12 15:51] thangngoc89 commented on #285
@taion thanks for looking to this.

For reproducing, you can :

- Clone this https://github.com/MoOx/phenomic/commit/1e6d472eb1c00fed83f1c2e8431ad274468cf6fa

[code]

Navigate to a different page and then click on the Phenomic logo on Header bar (to return to home page)

[2016-06-12 17:09] MoOx commented on #285
Also posted full instruction in https://github.com/reactjs/react-router/issues/3184#issuecomment-225448418

[2016-06-12 17:24] MoOx opened #522 "Service Worker: consider remove the restriction of the origin"
@thangngoc89 currently you implemented the sw with restriction on the origin `requestURL.origin == location.origin`. What is the reason for that? For example if we have assets loaded from another domain (eg: an image) we won't have it cached.
What can be the issue about caching things not from our domain?!

Looks like a bug or not really useful restriction for me, but maybe you can enlighten me ab

[2016-06-12 18:14] MoOx commented on #485
Ok it seems that sw-precache is the easiest solution available and can create a sw with this kind of config

https://github.com/GoogleChrome/sw-precache/blob/963368236e261a4f3ba0c1cd66351b293b8192b3/app-shell-demo/gulpfile.babel.js#L123-L143

Sounds good to you @thangngoc89 ? (Good thing: there is a lot of option https://github.com/GoogleChrome/sw-precache/tree/963368236e261a4f3ba0c1cd66351b293b81

[2016-06-13 05:29] thangngoc89 commented on #485
I plan to use sw-precache in the first place but I don't quite remember why did I choose to write it from scratch, maybe some complication in the implementations. If you can implement it, go for it.

[2016-06-13 05:30] thangngoc89 commented on #522
My website has stuff like video embed, music that come from others host. I think that should not be cache. Does it sound like a good reason to you ?

[2016-06-13 05:40] thangngoc89 opened #527 "Support webpack notification on Windows"
We are using [webpack-error-notification](https://github.com/vsolovyov/webpack-error-notification) but it doesn't support Windows. I suggest we can use [webpack-notifier](https://www.npmjs.com/package/webpack-notifier) instead for Windows support. (I'm using Windows on daily basic now)

[2016-06-13 05:41] MoOx commented on #527
Sure thing. I am using this one too this days.

[2016-06-13 05:42] thangngoc89 commented on #527
Alright. I'll send a PR for this

[2016-06-14 04:18] MoOx commented on #522
Why that should not be in cache, if that can be?

[2016-06-14 13:58] thangngoc89 commented on #522
Well. You can remove the origin restriction but you must provide a way to customize the service worker template. We can't provide a template that fit for all. About the video, I think it's too large to cache a video.

[2016-06-14 14:48] kuzvac commented on #461
Recently i found Contentful, looks interesting https://www.contentful.com/blog/2016/06/07/contentful-ruby-static-sites/

[2016-06-14 21:05] MoOx commented on #485
I took some times and almost finish the thing with sw-precache that have a "sort" of debug mode (cool for debug: handleFetch option). So I were looking how to enable this in dev, and was thinking only a webpack plugin can help us (since postbuild is run after the static build only). So I looked webpack offline-plugin https://www.npmjs.com/package/offline-plugin and I am seeing everything we need n

[2016-06-15 02:26] thangngoc89 commented on #485
Awesome, please go ahead and do it

[2016-06-15 12:48] MoOx opened #529 "Change the default structure of the project"
`web_modules` might be confusing.
Something like

[code]

Need to think more tho.

[2016-06-15 13:14] stevenkroon opened #530 "Disable browser reporter in production"
It would be great if the production builds don't show the browser reporter messages

[2016-06-15 13:18] MoOx commented on #530
You can already replace the default boilerplate postcss section by this

[code]

This won't push error in the CSS, just in the console during the build step.
We might thing for a cleaner code block, but I will definitely push this in the default boilerplate!

[2016-06-15 13:22] stevenkroon commented on #529
I like "components" over "modules"

[2016-06-15 23:36] ezralalonde opened #531 "Does Google Analytics in docs capture hits correctly?"
Hi again,

Thanks again for all of your work.

In recently trying to configure Google Analytics to work with Phenomic for myself, and using the doc site as an example. In the "Realtime Overview" (leftmost circle) I noticed GA's "Active Page" (middle circle in screenshot) always appeared to be the last page that was "hard-loaded" (e.g. by hitting enter on the URL bar), even though ajax-y "soft-load

[2016-06-16 03:35] MoOx commented on #531
This is probably a huge bug. Thanks for letting me know. I will try your recommendation and see if stats are changing.

[2016-06-16 04:28] MoOx commented on #531
FYI I think it's best to go to Behavior > Site Content > All pages.

![screen shot 2016-06-16 at 06 27 09](https://cloud.githubusercontent.com/assets/157534/16105515/6aa230c6-338b-11e6-938a-e8adad02e476.png)

So not sure if the line you added will change something. A better option might be to rely on #384 .

[2016-06-16 12:43] thangngoc89 commented on #531
@MoOx Behavior > Site Content > All pages doesn't provide accurate information for this bug. As @ezralalonde said, if this is true, Google Analytics only record the last full page reload.

[2016-06-16 12:49] thangngoc89 commented on #531
@ezralalonde I did some test on my website and I can't reproduce this. (probably because I'm using a different GA wrapper)

My component https://github.com/thangngoc89/blog/blob/2108b8d514ce8655c8c1ef11180311c77ce39ab5/web_modules/components/GATracker/GATracker.js

[2016-06-16 12:51] MoOx commented on #531
I think I made some tests in the past but I am not sure.
We can probably create an hidden page and access it via another one to see using real time tracking. That might be a way to ensure there is a bug. Did you do that @ezralalonde ?

[2016-06-16 16:39] thangngoc89 opened #532 "Use webpack DLL plugin for performance improvement"
I read a new article on using DLL plugin to speed up Webpack initial build speed.

You can read it here : https://medium.com/@soederpop/webpack-plugins-been-we-been-keepin-on-the-dll-cdfdd6cb8cd7#.9fzlbqz0m

It's quite simple to implement (I think). But the problem is how can we detect if the user changed the dependencies to remove the old cache and build a new one ?

[2016-06-16 20:24] ezralalonde commented on #531
I did the tracking on the main page, since the site I was testing has ~0 traffic. In this sense it is "hidden".

My test method was manual variations on the following:

1) Find a page XYZ with 0 active users,
2) Visit XYZ using a hard-loading method, such as typing it in the browser bar,
3) Observe XYZ show up in "Active Pages"  with 1 active user, and the per-second visit registered,
4) Navigate

[2016-06-17 04:04] thangngoc89 commented on #531
@ezralalonde thanks for the detail information. It's great to read your comment. @MoOx patched this as you suggested https://github.com/MoOx/phenomic/commit/5e4d4dd15e510bb77e05d67090612804b271e326

[2016-06-17 04:04] #531 closed

[2016-06-21 21:30] MoOx commented on #399
We can just add in doc a ref to the offline-plugin which is the solution we will use soon.

[2016-06-21 21:37] MoOx commented on #398
Will automatically added to phenomic.browser entry (this entry is always present now, since it's now injected).

[2016-06-21 21:40] MoOx commented on #277
Removing "bug" label since it's not a bug technically speaking (you can "wait" for the update, even if that can be long).

That said, will take some times to make this as a reusable module.

[2016-06-23 07:14] MoOx commented on #399
Closing in favor of #535

[2016-06-23 07:14] #399 closed

[2016-06-27 13:50] caranicas opened #542 "filter wildcards"
is there any way to add a wildcard `*` to the filters in `enhanceCollection`? , I gave it a go, but it didn't work the way I thought it would. I want to keep my markdown files and layouts a bit more modular and have separate files for  `Employee-Bio`, and `Employee-JobDescription` .

I'd like to be able to do something like this.

[code]

[2016-06-27 13:55] MoOx commented on #542
Better than wildcard, I think regex are supported.

You can try this.

[code]

[2016-06-27 19:46] KraigWalker opened #543 "Render JSX in Post markdown Files"
I was wondering if anyone had luck rendering Markdown to JSX?

My current setup attempts to use [remark-react](https://github.com/mapbox/remark-react) instead of remark-html but I've hit a wall. I'm not quite sure I've understood it's use to be honest.

having a way of doing this would be ideal, as it would allow for phenomic to render components (such as react-d3 charts, etc.) out in a post witho

[2016-06-28 04:05] MoOx commented on #543
For now only HTML is supported since we support text to html only (maybe due to the legacy json restriction). But we plan to allow transformation as object (results of jsx) too. Please track #434.
Any kind of help is welcome.

[2016-06-28 04:05] #543 closed

[2016-06-28 15:31] thangngoc89 commented on #543
You can define your renderer as plain text like this

[code]

and import remark and remark-react within your client code to use remark-react's features

[2016-06-29 05:35] MoOx commented on #532
Just run the build of the dll in npm postinstall hook. Should be good right?

---

Here are some ressources:

- https://webpack.github.io/docs/list-of-plugins.html#dllplugin
- https://gist.github.com/robertknight/058a194f45e77ff95fcd
- https://github.com/mxstbr/react-boilerplate/pull/495/files
- https://github.com/FrendEr/webpack-optimize-example/tree/master/dll-bundles

[2016-06-29 05:36] MoOx commented on #442
The webpack dll thing should help a lot. Will try to work on that soon as it should not be complicated.

Also https://github.com/FrendEr/webpack-optimize-example

[2016-06-30 06:05] demoneaux commented on #518
Oh, because I don't think it's a good idea for something like this to be
done automatically as people might be confused over why their code suddenly
changes, especially if they're not sure how to disable that. My editor
(VSCode) also doesn't reload files from disk that often so there were
conflicts when saving which I did not expect.

[2016-07-01 15:29] drFabio opened #545 "While running as root .gz files gets created on working directory"
When running phenomic as root a bunch of .gz files intended for cache get's created on the working directory.

This is caused by  the os.tmpdir() and process.env.TMPDIR pointing to the working dir and not /tmp/ as expected. This is similar to [this webpack issue](https://github.com/webpack/webpack/issues/2223) and caused by the same reasons

On this [issue](https://github.com/npm/npm/issues/4531)

[2016-07-01 20:07] MoOx commented on #545
The thing is: we don't use tmpdir() or TMPDIR in our codebase. So not sure if we should handle this.

Asking for something during the setup might seems overkill (for most use case).
Anyway, if nobody is open to handle that (pretty sure npm won't be open for a change, nor webpack) we might do something like a warning (at least).

Can you check if disabling babel cacheDirectory fix this problem? It

[2016-07-02 03:54] MoOx commented on #531
FYI, I am not sure this change really changed something.
See below the number of pageview for last mont (I integrated the change the 16 june).

![screen shot 2016-07-02 at 05 53 15](https://cloud.githubusercontent.com/assets/157534/16538098/4bd5f0d4-4019-11e6-9806-416444edc997.png)

[2016-07-02 13:57] drFabio commented on #545
Setting cache_directory on webpack,config.babel.js  did solve the problem.
Probably changing the cache directory for webpack to /tmp would solve it as well.

[2016-07-04 01:35] jlevy opened #547 "Avoiding duplicate content data for performance"
Forgive me if this has been discussed — I'm new to phenomic (which looks pretty cool!) and to using React for static content.

Do folks have thoughts or suggestions on how to avoid sending the document content twice, i.e. once for the statically rendered HTML and once for the React .json? For small pages this doesn't matter, but for larger documents, it has a significant effect on download sizes.

[2016-07-04 14:04] thangngoc89 commented on #547
Hi there,

I dont see the extra HTML is a problem. There is only 1 HTML file will be downloaded on first load. After that, Phenomic only downloads needed .json file for rendering others file. On first load, there is also a minimal store that contains the information needed for rebuild the current page. So no .json for the first page

[2016-07-04 18:50] ezralalonde commented on #531
The total number of pageviews was always being recorded correctly. Certain pages were being counted twice, while others were not being counted at all.

As you know, with isomorphic/universal rendering in React, there are two types of pageviews:

1) Pages viewed by directly loading an HTML file
2) Pages viewed by loading and rendering a JSON file

The second type is what was not being recorded corr

[2016-07-04 18:52] jlevy commented on #547
Ah interesting, thanks. Looking closer, I see the .json isn't loaded until later. So this is different from other approaches like Gatsby's then, where it all gets bundled together. Might be worth it to specifically elaborate how each resource works in docs or FAQ, as this is a distinct advantage!

[2016-07-05 06:05] MoOx commented on #531
Thanks again for the explanation. I will trust you on this.

[2016-07-07 18:39] wilsonmar opened #557 "error on web page 'number-zero-length-no-unit' deprecated"
After downloading and setup as described in https://wilsonmar.github.io/static-websites/
I get this message at the top of the screen:

'number-zero-length-no-unit' has been deprecated, and will be removed in '7.0'. Use 'length-zero-no-unit' instead.

<img width="1132" alt="screen shot 2016-07-07 at 8 18 06 am" src="https://cloud.githubusercontent.com/assets/300046/16664984/cc7ee37e-443f-11e6-9416-

[2016-07-07 19:19] MoOx commented on #557
Sorry for this. You can safely update stylelint-config-standard to "^10.0.0", this will fix this issue. Btw, fix stylelint version to "^6.8.0"

[code]

This should fix your issue. The fix will be pushed (already in master, will be release in the next few days)  but will only affect new projects.

[2016-07-07 22:27] wilsonmar commented on #557
Would changing version numbers in the package.json file do the same as the parameters?

[2016-07-07 22:29] wilsonmar commented on #557
This fixed the problem. Thanks.

[2016-07-07 22:29] #557 closed

[2016-07-08 17:15] wilsonmar opened #558 "More UI templates and features"
I think it would help the popularity of this endeavor a lot if more nice templates are available with additional features such as search, social media, email forms, etc. such as shown on http://jekyll.tips/plugins/

Or did I miss them for this framework somewhere?

[2016-07-08 17:39] DavidWells commented on #558
👍 for plugins!

I'm interested in a standardize templating setup too. Perhaps modelled vaguely after how WordPress templates (at least file structure wise) does it

[2016-07-08 17:53] wilsonmar commented on #558
Is there a converter that takes a Jekyll site (such as http://jekyll.tips/templates) and converts the files to phonemic? (with pre-arrangement and attribution etc.).

Even better if it does that and adds them to a website of themes (such as http://jekyll.tips/ provides)

[2016-07-08 17:55] thangngoc89 commented on #558
@wilsonmar I'm not an Jekyll expert but Phenomic's markdown file structure was inspired by Jekyll, so it work out of the box with Jekyll's markdown files.

[2016-07-08 17:56] thangngoc89 commented on #558
There is an open discussion about template here: https://github.com/MoOx/phenomic/issues/508

[2016-07-08 18:03] thangngoc89 commented on #547
Close for now. Feel free to reopen this if my answer isn't enough for you.

[2016-07-08 19:44] bnb opened #559 "Boilerplate: Make date structure obvious"
Not sure if it's yyyy/mm/dd or yyyy/dd/mm structure. In "Hello World!" would it be possible to change whichever one is `dd` to `28` (since there are only 28 days, typically, in Feb)? Or, more ideally, March 31st?

[2016-07-08 19:46] bnb opened #560 "Error on Fresh Install"
Here's the error I got from stylelint when I first opened Phenomic:

![Phenomic Stylelint error on first run](https://cloud.githubusercontent.com/assets/502396/16699591/0d548046-4523-11e6-91c6-894335bbd4fb.png)

[2016-07-08 20:14] MoOx commented on #560
It has been fixed on master, will cut a release in the next few days (this will only affect new setup tho)..
Please take a look at this comment https://github.com/MoOx/phenomic/issues/557#issuecomment-231179966 where you will find instructions to fix this issue.
Sorry for this.

[2016-07-08 20:15] MoOx commented on #559
It's yyyy-dd-mm. Will update according to your comment.

[2016-07-08 20:15] MoOx commented on #547
Reopening to reminds us to add something more clear in the doc + faq.

[2016-07-09 06:40] bnb commented on #559
@MoOx thanks!

[2016-07-10 02:41] jlevy commented on #547
Actually, there is still the issue that the content in the index.html is duplicated. If I build a single 100k mardown file, I see the generated index.html is 466k, and actually contains copies of the content in three different formats: One in the raw HTML, a second initial state in the "body" value, and one as Markdown in the "raw" value. (The .json file also contains 2 copies.) Am I missing somet

[2016-07-10 07:42] MoOx commented on #547
No you are not.there is an open issue about that (removing raw & rawBody by default). Will handle that in next release (hopefully in the next few days).

[2016-07-10 07:44] MoOx commented on #547
Please track #189 about this.

[2016-07-10 18:40] jlevy commented on #547
Cool, thanks. To recap, seems like there are potentially 3 kinds of duplication with React for static content when compared to a traditional static approach:

1. Downloading multiple pages when you only need one (already handled well in Phenomic)
2. Including raw markdown (in initial html or subsequent js/json loads) (#189)
3. Duplication of HTML content in JS on first load

Sounds like 1 and 2 ar

[2016-07-10 19:25] MoOx commented on #547
1. has nothing to do with React. If you are thinking about stuff like Gatsby, this is just a matter of "do I want all pages or not". This was a "nope" for me, that why I worked on Phenomic ;)
2. like you said, #189
3. This is a false problem imo. Let me explain this.

HTML is in this case a static render of the DOM, and React handles the DOM for us. If you only send the HTML with no data, React wi

[2016-07-10 20:10] #559 closed

[2016-07-11 06:32] MoOx commented on #558
I am getting a 404 on http://jekyll.tips/plugins/.
What you idea in mind? Cause with the component approach, note sure lot's of stuff like you can find for wordpress or jekyll make sense.

Ok for the "standardized" template idea. We can discuss about that in #508.

For the "jekyll to phenomic" thing, most simple md files should work out of the box, but it can be more complexe to handle. Nothing ha

[2016-07-11 07:27] jlevy commented on #547
Thanks for the detailed response. Re 1, yes, and this is why I'm looking at Phenomic too. :)

Re 3: Yes, understood. Regarding compression, yes of course it helps, but I don't think it's accurate to assume gzip eliminates the cost (since for large pages the duplicate strings are far apart and the symbol buffers are [pretty small](http://stackoverflow.com/questions/37176508/how-does-deflatezlib-det

[2016-07-11 08:10] MoOx commented on #547
We can't reconstruct safely the data. Well maybe we can by parsing the page (but this will have a cost) to read title, "page content" etc but that will be very error prone and will lead to bugs.
Maybe we can't base64 the content or something to "minimize" the content, but this will have a rendering cost (maybe not a big deal, but still).

In order to provide HTML only we have only one solid soluti

[2016-07-11 16:18] thangngoc89 commented on #547
This is a long and very interesting discussion. Perhaps I can push #189 forward. Allow to remove raw and rawBody if this concern you a lot.

I think it'd be cool too. But IMHO, it's impossible. Phenomic HTML output is almost like an universal React app. So perhaps there is some changes in React's core.

[2016-07-12 07:39] dab commented on #40
Any updates on this issue? It's really nice to have easy way to add your preferred state store. I'm also using mobx currently, and would like to add it to my static site app as well. It's not *such* simple to replace redux right now.
Thanks.

[2016-07-12 07:44] MoOx commented on #40
I will try to work on that for the next release. Should not take that long.

[2016-07-12 08:00] dab commented on #40
👍 thanks for the update

[2016-07-12 08:44] jlevy commented on #547
Agree, thanks for the discussion. I do think removing raw content (or at least providing the option to suppress it) is a very good idea. Triplicating content just seems unfortunate for big pages (esp since as you see above, you can't assume compression magically removes duplication).

Perhaps I'm still missing something, but don't wee why it's "impossible" or all that error prone to get initial st

[2016-07-12 08:51] MoOx commented on #547
What if you component replace some stuff in the html string it output? The innerHTML can be wrong and react will then make a replacement again. You might say "that's ok in my case", but we cannot just add this kind of behavior. What about other fields like date that can be formated? Title transformed into uppercase etc?

We might add a way to do what you ask but it's not a good idea to put that as

[2016-07-12 15:46] thangngoc89 commented on #547
This is the simplest case of using Phenomic. I usually use Javascript to modify the content of the page. So the final HTML mockup isn't the same thing (which is produced by the markdown processor).

[2016-07-13 04:44] #398 closed

[2016-07-13 04:44] #485 closed

[2016-07-13 08:02] MoOx commented on #251
Will handle this in #260.

[2016-07-13 08:02] #251 closed

[2016-07-13 08:09] MoOx commented on #189
Will handle this in #260.

[2016-07-13 08:09] #189 closed

[2016-07-13 08:34] MoOx commented on #260
I will make something simple:
a content-loader plugin will be (pageData) => pageData. So it must returns a new pageData object (pageData will be { head: { ... }, body: { .. })... The only requirement will be a head, but I am not even sure it should be a requirement. A pageData should be anything the user want.
I will implement something simple with the following plugins:
- add-head-property-from-c

[2016-07-13 09:52] thangngoc89 commented on #260
The naming convention looks good to me. But I have 1 concern, do we need all of those plugins ? Isn't gray-matter provides all the information we need ?

[2016-07-13 13:08] MoOx commented on #260
`gray-matter` only handle the head, so it will only be used in `add-head-from-content`.

[2016-07-15 06:59] dab commented on #461
I like the idea. Did you tried [prose.io](http://prose.io/)? It's simple markdown editing tool fot github.

[2016-07-20 02:46] DavidWells commented on #532
I set this up for a project and it cut the build time in half.

Where would this be implemented in the project? In the boilerplate?

[2016-07-20 03:13] thangngoc89 commented on #532
Could you inject it in the core? We want to keep the changes in boilerplate as small as possible.

See config.*.js in this folder https://github.com/MoOx/phenomic/tree/master/src/builder/webpack

[2016-07-20 03:20] MoOx commented on #532
@DavidWells can you show us a diff as an example so I can investigate this a little?

[2016-07-20 03:25] DavidWells commented on #508
Just an idea. Interested in thoughts:

[code]

The idea behind the `/themes` folder would be that you could swap out designs. in `/config` or `metadata.js` or `package.json` you would specify your current theme (if more than one exists in theme folder)

The idea behind the `/themes/name-of-theme/page-templates` folder would be that it could be automatically parsed by the `routes.js` file and pages

[2016-07-20 03:42] DavidWells commented on #532
@MoOx this is how I hooked it up: https://gist.github.com/DavidWells/e886bff1fdb543a707b39451535b1369

[2016-07-20 03:44] DavidWells commented on #532
Webpack.config.dll.js https://gist.github.com/DavidWells/e886bff1fdb543a707b39451535b1369#file-webpack-dll-config-js gets run from the npm `postinstall` hook https://gist.github.com/DavidWells/e886bff1fdb543a707b39451535b1369#file-package-json-L2, which only runs in the context of local dev environment and not when the folder is nested inside the node_modules folder as a dependency.

Then in the i

[2016-07-28 07:27] MoOx commented on #560
Should be ok now.

[2016-07-28 07:27] #560 closed

[2016-08-01 12:47] MoOx opened #586 "Add example (boilerplate) to staystatic"
https://github.com/staystatic/staystatic

We will need a reminder/script to update the example on each release.

[2016-08-01 13:08] xuopled opened #587 "Pages transitions"
It could be great to handle pages transitions using css transitions to reproduce this kind of transitions : http://tympanus.net/Development/PageTransitions/

I used react-router to handle the routing transitions but there is maybe a better way : https://gist.github.com/cedricdelpoux/4286de789e7b0138708a3be4581963f2

What do you think ?

[2016-08-01 17:20] MoOx opened #588 "Hot loading broken with fresh setup"
2 users recently reported this on the chat. Will need to investigate.

[2016-08-01 17:45] inventanew opened #589 "fresh boilerplate shows 404 page"
fresh boilerplate shows 404 page. How do I default to the home page. None of the page routes are working.

[2016-08-01 21:29] MoOx commented on #589
It seems related to this https://github.com/wooorm/unified/issues/7

[2016-08-02 04:28] MoOx commented on #589
A fix is pending. This will be fixed when a new release of `unified` will be cut, hopefully pretty quickly.

[2016-08-02 04:29] MoOx commented on #588
With the fix that will land for #589, hot loading is working, so closing in favour of this other issue.

[2016-08-02 04:29] #588 closed

[2016-08-02 06:09] MoOx commented on #587
Will take a look when I got some times :)

[2016-08-02 06:14] MoOx commented on #260
My wip is almost ready. Will make a PR soon

[2016-08-02 07:19] MoOx commented on #589
Should be good. Just reinstall and you should have the patch.

[2016-08-02 10:16] revolunet commented on #529
I like "components" over "web_modules" too

[2016-08-02 10:17] revolunet commented on #462
a bird eye view of the roadmap and future plans would be interesting

[2016-08-02 11:20] thangngoc89 commented on #529
:+1:  for componens.

[2016-08-02 11:54] MoOx commented on #529
Do you think a folder like "layouts" is necessary? Since they are just components after all. Not sure if this will help or confuse people.

[2016-08-02 11:55] MoOx commented on #529
FYI you can already change this structure, since everything is explicit from the `scripts/phenomic.*.js`. Nothing is implicit (for now) so you have access to all references and so you can change all paths.

[2016-08-02 11:59] revolunet commented on #529
indeed, putting layouts in components makes sense imho.

[2016-08-02 12:42] MoOx commented on #462
Will try to put this quickly.
My priorities atm:

- "plugins" for content-loader (very simple way to adjust content of the consumed files by this loader) #260
- all routes generated with ability to provides routes like /tag/:tag or /author/:author (data gathered from collection)
- built-in (sort of) search #142
- more modularity, extensibility, theme? #508

Anyway, this is "my" roadmap, if contrib

[2016-08-02 12:48] revolunet commented on #462
thanks  👍

[2016-08-02 13:36] cedricdelpoux commented on #587
Thank you for your help :)

[2016-08-02 13:58] thangngoc89 commented on #529
I think keeping layouts as a seperated folder makes more sense. It's like containers vs components.  But you can put it where you like it. (Phenomic is pretty flexible, and unopinionated)

[2016-08-02 18:14] DavidWells commented on #587
👍 looks cool!

[2016-08-03 01:10] inventanew commented on #589
you are awesome thanks a million!

[2016-08-03 10:06] MoOx opened #595 "Docs: add entry in the faq on hot loading not working when your project is in dropbox"
https://gitter.im/MoOx/phenomic?at=57a0c965e2ff9ec76e50526e

[2016-08-03 14:12] MoOx opened #596 ""eject" command, like create-react-app"
My idea: better (and simpler) defaults with no boilerplate (just components) + an "eject" command to get all the boilerplate in your project so you have full control.
Thoughts?

[2016-08-04 01:56] thangngoc89 commented on #596
I'm all in. It's a pretty nice feature.

[2016-08-04 08:50] MoOx opened #598 "Explode as a monorepo"
This might require a lot of work but maybe splitting into something like this

phenomic-core
phenomic-content-loader
phenomic-content-loader-plugin-*
phenomic-content-loader-preset-\* (bundle of plugins, for example phenomic-content-loader-preset-markdown)
phenomic-static-rendering

Just an idea :)

[2016-08-04 08:58] thangngoc89 commented on #598
What is `core` and `static-rendering` ? Still, this is a pretty good ideas and a good chance to clean up and organize the codebase. I hate it when the `src` folder has too many subfolders

[2016-08-04 08:59] MoOx commented on #598
core will be, well the core part (not sure what this will be yet) and static-rendering will be code for the static html generation part. But maybe this should be in the core as well.

spoiler: with monorepo, we might have even more (sub)folders ;)

[2016-08-04 20:26] MoOx opened #599 "Rename "content-loader" to "phenomic-loader""
At some point, I am not sure we will have another loader (I don't see any use case), so, when thinking about #598, I am considering renaming this loader as "phenomic-loader", since it's sort of the core of phenomic (at least a crucial piece).

Thoughts?

[2016-08-05 20:35] mfussell opened #602 "Build failure: ChunkRenderError: No template for dependency: TemplateArgumentDependency"
node v4.4.7
npm  v3.10.5

npm ls:

[code]

[2016-08-05 20:42] MoOx commented on #602
The issue come from the fact that you have multiple webpack instance running.
The proof is if you look for "webpack@" you will find on at the root, and one under phenomic.
Phenomic should not have this installed as it's a dev deps. "npm install phenomic" should not install dev deps. How did you install phenomic?
Please provide as much information you can, it's not normal that you got this 2 versio

[2016-08-08 09:21] progand commented on #602
@mfussell Are you sure about npm version?

Try:

[code]

[2016-08-09 00:38] DavidWells commented on #508
Any thoughts on this?

Starting to build a new site and wanted to try and head in this direction

[2016-08-09 06:12] MoOx commented on #508
You proposal is ok.
I would adjust it like that but keep in mind that this might end behing a default/recommendation (user should be able to adjust the tree at any point)

[code]

[2016-08-09 06:14] MoOx commented on #508
The theme/plugins used will be specified in phenomic config

[2016-08-09 06:21] #260 closed

[2016-08-09 06:21] #547 closed

[2016-08-09 17:38] jlevy commented on #547
Cool! Glad to see the raw markdown is now removed. Pardon the slowness on the discussion; I'm looking forward to trying this out again. :)

[2016-08-09 18:38] DavidWells commented on #508
is the idea that `/phenomic-theme-*/layouts ` and  `src/layouts` get merged and are both available for use?

Or is  `/phenomic-theme-*/layouts/Home` the default specified by the config and the  `src/layouts/Home` is an override if the name `Home` matches?

[2016-08-09 18:40] MoOx commented on #508
We can discuss about that :)
I guess the simple thing to do (and flexible) is to allow easily override by default (eg: src/layouts/Home replace the current theme "Home", but if you want original you can probably do

[code]

[2016-08-09 18:48] DavidWells commented on #508
Ok going to push forward on building the site with this kind of outline. We are going to open source it as well.

Let me know if you want to jump on a call to chat about it. I'm curious to see how you see the theming work =)

[2016-08-09 18:57] MoOx commented on #508
I already implemented something similar for my previous static engine. The idea is to have a kind of php include_path and reference to files/layouts etc will look in this order

- local src
- theme
- parent theme?
- default theme (in core?)

Should be really easy to handle via webpack resolve option.

[2016-08-10 17:50] DavidWells opened #609 "Improve collection loading for huge websites"
Just tested out a 1000 page site. Generated them with this handy script: https://gist.github.com/DavidWells/a75045c89d6f3d453ef4ab68499550f4

Good news, the build only took like 60 seconds!

The generated site was 296mb in total though. This was primarily due to every page inlining the entire  `window.__COLLECTION__`  into the html. (https://gist.github.com/DavidWells/675b1b838c44925d6487fff3cc129

[2016-08-10 18:10] thangngoc89 commented on #609
Hi, thanks for sugessting this. The collection used to be in a seperated collection.json file and we used to load it async on initial load but it introduces some caveats.

@MoOx I think dumping it to collection.js and loading it in a blocking way would be the best. (Or non-blocking way if you can fix previous problems)

@DavidWells i tried phenomic on a REAL 10k pages site. The build time is about

[2016-08-10 18:15] thangngoc89 commented on #609
Well, why did we inject collection to html

https://github.com/MoOx/phenomic/issues/92

[2016-08-10 18:27] thangngoc89 opened #610 "Add a loader plugin to handle a library of picture"
I made seaade2016.vn a while ago with phenomic (statinamic actually). It's a website for a conferrence. At the time, the client request is pretty clear to me, it's definitely a static site with a few markdown files. But now, the client is willing to pay extra for adding new functions to the site. 1 particular request is adding a photo library which is kinda hard to fullfill. Here is the client's r

[2016-08-10 20:24] #64 closed

[2016-08-10 20:24] #330 closed

[2016-08-10 20:32] MoOx commented on #609
We injected collection for better consitency between client & static build. And for small website, extra http request is not necessary. Obviously for large website it might seems huge, but at the end a single user is supposed to access a single html per session.
We could add a **non lazy** load of the collection via any method, but the collection should be mandatory for the client sync/rendering.

[2016-08-10 20:33] MoOx commented on #610
Make a GUI that commit photo to github?
This reminds me this project https://github.com/eduardoboucas/staticman

[2016-08-10 20:33] MoOx commented on #610
Upload photo create empty md with just a front-matter with path to the asset. Then you can do anything you want using the collection.

[2016-08-10 20:40] MoOx commented on #599
Done in master.

[2016-08-10 20:40] #599 closed

[2016-08-10 20:43] MoOx commented on #529
I will probably introduce this

[code]

Ref https://github.com/MoOx/phenomic/issues/508#issuecomment-238462889

[2016-08-10 20:53] DavidWells commented on #609
Maybe there could be an option to inline or include collections via:

[code]

Larger sites could opt for `script` tag and save on overall site size.

Each inlined collection adds `292kb` to the file size. So an addition 292mb for a site at 1000 pages.

With the script tag it would be the single 292kb and the deploy/storage would be sooooo much smaller =)

[2016-08-10 20:54] MoOx commented on #609
That's definitely something we should do. We could even ask the user during the deployment if we want collection to be outside html (if let say collection > 150kb?) and save the pref in package.json for future build?

[2016-08-10 20:57] DavidWells commented on #609
This will make larger sites way more viable and cost friendly

[2016-08-10 21:04] DavidWells commented on #529
@MoOx looks good to me. Its pretty much exactly what I did 2 days ago =)

![image](https://cloud.githubusercontent.com/assets/532272/17570952/4c7b7f32-5f03-11e6-8773-8ea57f6f0c16.png)

[2016-08-10 21:34] revolunet commented on #529
yes, having dedicated layouts folder is better if you want to support auto-discovery so we wont have to declare them in route.js

[2016-08-11 06:33] MoOx commented on #483
Pageres give really shitty screenshots like if there where taken with 5 yo browsers. Flexbox is not correctly supported. Will try something else.

[2016-08-11 07:58] DavidWells commented on #483
Nightmare.js uses electron (WebKit) now under the hood for screenshots

It might be a solid option

[2016-08-11 12:37] mfussell commented on #602
Thanks @MoOx . You were correct. I removed the root version of webpack, rebuilt and all worked as it should.

[2016-08-11 12:38] MoOx commented on #602
Reopening to add this in the faq ;)

[2016-08-15 10:49] thangngoc89 opened #615 "Use webpack-dashboard for a beautiful webpack output"
![](https://camo.githubusercontent.com/cbbf3964c3bb6369f27a888e5987e5a88e115b89/687474703a2f2f692e696d6775722e636f6d2f354257613168422e706e67)

https://github.com/FormidableLabs/webpack-dashboard

Implementing this to phenomic is just 1 line, super easy since we have everything in place.

We can implement this behind a flag for experiment first and then make it the default after that. What do you t

[2016-08-15 12:06] thangngoc89 opened #616 "Error in dev mode with highlight.js autoit language"
Reproduce:

- Clone this repo
- `npm install && npm run docs start`
- Output:

[code]

A hacky fix: https://github.com/shprink/wordpress-hybrid-client/issues/103
Issue from highlight.js : https://github.com/isagalaev/highlight.js/issues/895

That issue said that this was fixed in version 9.4.0 to somehow on 9.6.0 this error comebacks

[2016-08-15 12:16] thangngoc89 commented on #616
By locking the highlight.js version to 9.4.0 resolves this issue. So this is a upstream issue.

[2016-08-15 19:46] MoOx opened #617 "Add some CSS variables in the default theme"
As an example, via http://cssnext.io/usage/#features (simplest way) or via CSS modules `@value` (but I don't like this totally non standard syntax).

Following @revolunet's request on the chat.

[2016-08-15 19:51] revolunet commented on #617
How should this be implemented  ? a separate `cssVariables.js` file required by webpack/postcss-cssnext ?
Also, where should we store shared "mixins" for composes ?

[2016-08-15 19:59] MoOx commented on #617
Currently yeah you could pass options here https://github.com/MoOx/phenomic/blob/2b44e19bfa095d2a4bb512c122dbb24380a83ef1/boilerplate/webpack.config.babel.js#L150, imported from another file works.

For mixins, I think if you need more than a simple value, you should probably write a UI component ;)

[2016-08-15 20:09] MoOx commented on #312
Also interesting

https://github.com/mpalmer/jekyll-static-comments
https://github.com/pathawks/jekyll-disqus-comments

[2016-08-16 06:50] DavidWells opened #621 "Generating a sitemap"
How would you suggest handling XML sitemap generation?

There seem to be a lot of NPM packages for this https://www.npmjs.com/search?q=sitemap+generator

Does anyone have a recommended way of doing this?

[2016-08-16 06:54] DavidWells commented on #609
@MoOx I'd like to take a stab at adding this option.

Would here: https://github.com/MoOx/phenomic/blob/1a11c7f8db4bdc373b72764535f6e5629e042f0a/src/builder/server.js#L137-L141 be the correct place to add the logic to take the collection and add it to script tag instead of inlining?

[2016-08-16 09:30] thangngoc89 commented on #621
You have all the information you need in collection to create a sitemap. Just need to print it out properly. Or you can just use the RSS feed generating feature. With Google Webmaster tool, you can submit a RSS feed for sitemap.

[2016-08-16 09:32] thangngoc89 commented on #609
@DavidWells I think it's best to leave it there. It's the dev server. For static build, you should change this line https://github.com/MoOx/phenomic/blob/2b44e19bfa095d2a4bb512c122dbb24380a83ef1/src/static/to-html/url-as-html.js#L108-L111 (extract it to a external js file instead of inline it)

[2016-08-16 12:48] MoOx commented on #621
I guess we can add this like for the rss feed, and later extract this as a package when handling #598.
This would have to be added here https://github.com/MoOx/phenomic/blob/2b44e19bfa095d2a4bb512c122dbb24380a83ef1/src/phenomic-loader/index.js#L86

[2016-08-16 12:49] MoOx commented on #621
@thangngoc89 having informations is one thing, being able to do it without pain is another, we need to provide options to make this super easy. It's very a basic requirement.

[2016-08-16 12:51] MoOx commented on #609
You will also have to emit a collection.json file from Phenomic loader in addition to previous additions you both mentionned.

[2016-08-16 12:52] MoOx commented on #615
Yeah I already thought about that. Can be nice.

[2016-08-16 12:54] thangngoc89 commented on #621
I suggest extracting the rss and sitemap logic from the loader and put it into the plugin.

[2016-08-16 12:55] thangngoc89 commented on #609
@MoOx it should be collection.js. Let's the browser load that synchronously for us.

[2016-08-16 12:55] MoOx commented on #621
baby steps ;) For now it's easy to add this here.

[2016-08-16 12:56] MoOx commented on #609
Btw, we should replace window.__* by window.__PHENOMIC__.* or something like that... Maybe just window.Phenomic.*

[2016-08-16 12:57] thangngoc89 commented on #609
I prefer `window.__Phenomic.*` . Who knows what a user can put to the page.

[2016-08-16 12:58] thangngoc89 commented on #616
@MoOx ping. Do you think we should handle in Phenomic ? It's a day and no response from @-isagalaev.

[2016-08-16 13:01] MoOx commented on #616
I have a local wip and want to finish #15. Will check later before cutting a release.

[2016-08-16 13:01] thangngoc89 commented on #616
Ok. Thanks

[2016-08-16 13:04] MoOx commented on #609
Then, `window.__PHENOMIC_DONT_USE_THIS_OR_YOU_WILL_BE_FIRED__.*`.

More seriously, I will probably use `window.__PHENOMIC_PRIVATE_REGISTRY_YOU_SHOULD_NOT_RELY_ON__*`.

[2016-08-16 13:42] thangngoc89 commented on #609
@MoOx

this is from React code base right ? I like the idea but we referenced this at many places. I don't want to type this everytime

[2016-08-16 13:48] MoOx commented on #609
I plan to add public methods like `import { getCollection } from "phenomic"`.

[2016-08-16 13:49] thangngoc89 commented on #609
Great idea !

[2016-08-17 15:40] MoOx opened #627 "Add docs "sitemap" (sort of) in README"
Because people loves README don't they?

[2016-08-17 15:58] thangngoc89 opened #628 "Add redirection via react-router"
This line https://github.com/MoOx/phenomic/blob/2b44e19bfa095d2a4bb512c122dbb24380a83ef1/src/static/to-html/url-as-html.js#L71

Instead of throwing an error, generate a page with meta tag for redirection.

For wildcard support, should give a look at Github 404.html file.

TODO:
- [ ] Single page
- [ ] Wildcard support

[2016-08-17 16:02] MoOx commented on #628
See https://github.com/reactjs/react-router/blob/master/docs/API.md#redirect

[2016-08-17 17:33] thangngoc89 commented on #610
Thanks. I almost forgot about this. I think your solution 1 file - 1 photo is great. Will try it

[2016-08-17 17:39] thangngoc89 commented on #596
On a second thought, this is what I want to build a phenomic webiste

- Install it `npm install -D phenomic`
- Init `phenomic init`

This will create a content folder with some md files and nothing else

- Everything will be keep inside phenomic repo
- We will provide a default theme and (and community themes)
- To build a site :

  - Default theme: `phenomic build`
  - Community theme : `phenomic

[2016-08-17 18:03] MoOx commented on #610
I just got a fucking great idea: with the new plugin system, you should be able to use phenomic-loader on .jpg file, and use custom plugins to generate head/body fields according to jpg name and metadata (eg: exif). That can be sick!

[2016-08-17 18:04] MoOx commented on #596
theme could be a key in the config too. But yeah that's how I see the thing too ;)

[2016-08-17 19:15] thangngoc89 commented on #610
You are briliant!!! :100:

I might need to put jpg files somewhere else and pull them on build, storing them in git is not ideal

[2016-08-17 19:16] thangngoc89 commented on #596
I thunk I dont need to talk about that since every cli args has a config counterpart

[2016-08-17 19:19] MoOx commented on #610
You can use a specific phenomic-loader “context" option for this specific loader section to catch files from anywhere, in theory. But need to be tested because I am not sure how we could handle the result. Maybe you will need another plugin to do an effective copy, cause current default loader consume the md and serve data in json, but for jpg you can't just do that haha.

[2016-08-17 19:26] MoOx commented on #596
Haha true. I like this project so much.

[2016-08-17 19:31] DavidWells opened #629 "Incremental Cache via Service Worker"
Just wanted to leave this here as an idea/discussion.

This looks pretty interesting: "...an incremental cache for the web. It only downloads the delta between the old file in cache and the new file." – https://github.com/gmetais/sw-delta

https://github.com/gmetais/sw-delta#how-does-it-work

So the idea might be that `phenomic build` doesn't remove the previous `/phenomic.browser.v1234.js` from t

[2016-08-17 19:37] thangngoc89 commented on #610
Yeah. Valid point. We'll see what I will ended up with.

[2016-08-17 19:40] thangngoc89 commented on #629
Build should be stateless. IMHO, a stateful build will increase the complexity. Will think more about this

[2016-08-17 19:46] MoOx commented on #629
Also, this require a server. Which kind of broke the "easy static" idea (deploy a folder anywhere).
Anyway, current default worker use a network first approach. And SW run in the background. So not sure we should add this into Phenomic now. Might be a good candidate for a plugin tho.

[2016-08-17 19:49] MoOx opened #630 "Plugins, round 2"
In current master (will be released soon) we have ability to use plugins for phenomic-loader. Let's call that "phenomic loader plugins".
We will end up having theme (#508), so having a global plugin system seems like a good next step.

Here is my idea about what a plugin should be able to do:
- adjust config
- adjust webpack config (add loaders, plugins etc)
- register phenomic loader plugins

Ple

[2016-08-17 19:52] MoOx opened #631 "Add option to choose your linting eslint shareable config on setup"
eslint-config-i-am-meticulous is nice, but too probably opininated (according to user feedback). We should ask what user want, and offer another by default (standard? airbnb?...)
We should ensure that eslint autofix can cover some common config so when we switch the config and run autofix the theme does not give any error (that might be a non problem when default boilerplate... theme! will be in i

[2016-08-17 19:56] thangngoc89 commented on #631
I dont think eslint autofix is capable of doing such a thing. A test should confirm tht

[2016-08-17 19:58] thangngoc89 commented on #630
The plugin API needs more love. It should not be a 1-1 mapper. A file can produce multiple file after runnig through the plugin system. Or it can be removed as well.

[2016-08-17 19:59] DavidWells commented on #629
It does add complexity :)

I don't think it needs a server. The script versions + diffs can be built statically and deployed up to CDN

[2016-08-17 20:18] MoOx commented on #629
The "how it works" explains this needs a server side part https://github.com/gmetais/sw-delta#how-does-it-work
If you want to handle this statically, this means your static build will need to compute diff for all previous versions of all files, which can quickly become a fucking lot very quickly.

[2016-08-17 20:20] MoOx commented on #631
eslint autofix can adjust indentation, change quote from double to single, add or remove semicolons, add or remove trailing comma, etc. It can handle a lot, more and more each days!

[2016-08-17 20:49] revolunet commented on #631
Personally i disabled autofix because i prefer to have my warnings in my IDE and handle linting progressively. looks like im doing a lot of `⌘+S` while coding and this can be annoying.

Linting is too restrictive here for me but everyone as it tastes so i suggest to just make linting non-blocking :)

[2016-08-17 20:50] DavidWells commented on #629
Hahaha, a fucking lot indeed!

[2016-08-17 20:54] MoOx commented on #631
autofix can be used "once" when user have choose his config, right after config. I will probably remove autofix, or ask in setup. We should find a way to make setup more flexible (but I have no idea atm on how to make this flexible... codemods?)

[2016-08-17 20:55] MoOx commented on #629
Closing due the complexity. Might revisit later if relevant :)

[2016-08-17 20:55] #629 closed

[2016-08-17 20:55] revolunet commented on #631
CLI flag ?

[2016-08-17 20:57] MoOx commented on #631
not sure if cli/options should adjust webpack config loader options (will make more boilerplate). But when we will provide default theme as a package, why not!

[2016-08-18 07:24] MoOx commented on #616
Just got the issue. But hey!

[code]

[2016-08-18 07:30] MoOx commented on #442
https://www.npmjs.com/package/hard-source-webpack-plugin

https://github.com/webpack/webpack/issues/250#issuecomment-240643985

OMG. We have to try this.

[2016-08-18 07:45] MoOx commented on #616
I updated some remark packages, should fix the thing.

[2016-08-18 08:00] thangngoc89 commented on #616
You should have typed

npm ls highlight.js

Will confirm this later

[2016-08-18 08:02] MoOx commented on #616
I found the path from the webpack error, it's that simple.
But indeed, it seems there is a fuck:

├─┬ remark-highlight.js@3.1.1 invalid
│ └── highlight.js@9.6.0

So we currently have 2 versions, that's what is probably causing the issue.

[2016-08-18 08:10] thangngoc89 commented on #616
This is weird. If there is 2 highlight.js npm should have told us.

[2016-08-18 08:11] MoOx commented on #616
Why?

[2016-08-18 10:31] thangngoc89 commented on #616
The npm ls command willl tell us about all instance of hightlight.js.  that have beenn installled

[2016-08-18 10:51] MoOx commented on #616
I have found the issue. It's hardcoded in docs/package.json deps. That's a mess.

[2016-08-18 16:28] thangngoc89 commented on #442
There is 1 place we can improve: disable Uglify plugin for node build (whether production or not)

[2016-08-18 16:36] thangngoc89 commented on #442
I gave hard-source-webpack-plugin a try and it's ridiculous fast

[code]

Issues:

- no manifest.appcache
- doesn't work with uglifyJS (need a simplify version before send out an issue)
- doesn't work with extract text plugin (https://github.com/mzgoddard/hard-source-webpack-plugin/issues/1)

[2016-08-19 03:58] mzgoddard commented on #442
@thangngoc89 landed a fix for hard-source that gets extract text and uglify working. Please file a issue if that didn't fix those. (I'm not aware enough about phenomic to know if your other stated issues are caused by hard-source or how to build a test to see if it is.)

[2016-08-19 04:00] MoOx commented on #442
@mzgoddard thanks for you work. Phenomic is just a "classic" webpack consumer, nothing fancy. We will take a deeper look and get back to you if needed!

[2016-08-20 10:00] thangngoc89 commented on #442
@mzgoddard Thanks for your quick response. I pushed my work here: https://github.com/MoOx/phenomic/tree/hard-source-wp

It doesn't work with UglifyJSPlugin.

Step to reproduce:

[code]

Inside docs folder, you use `npm run build` for triggering webpack build.

The second time you trigger the build, you'll receive some error like this:

[code]

If you remove UglifyJSPlugin from the plugin stack (by

[2016-08-20 10:14] MoOx commented on #442
Doing "cd docs && npm install" is incorrect. According to our specific case (package using deps in a folder above itself), we need the some symlink. Just do "npm i && npm run docs" to get the correct setup to run docs properly.

[2016-08-20 10:18] thangngoc89 commented on #442
@MoOx edited my comment above. Does it seem correct to you ?

[2016-08-20 10:19] MoOx commented on #442
Yep! :)

[2016-08-20 10:23] thangngoc89 commented on #616
@MoOx I don't see this anymore. Was it resolved itself ?

[2016-08-20 10:23] thangngoc89 commented on #609
@DavidWells any update?

[2016-08-20 10:24] MoOx commented on #616
Not really. @ben-eb handled this.

https://github.com/wooorm/lowlight/issues/2

[2016-08-20 10:24] #616 closed

[2016-08-21 17:29] thangngoc89 opened #639 "Phenomic loads css files in node_modules differently in dev and static mode"
Reproduce:

[code]

This is the error:

[code]

According to the error stack trace, `normalize.css` was loaded as a js file, not as a css file.
I can reproduce this bug on master of phenomic too

See https://github.com/MoOx/phenomic/compare/issue-639?expand=1

Steps to reproduce:

[code]

[2016-08-21 17:48] revolunet commented on #639
Had the same issue last week with react-flexbox-grid

Workaround : add this to the webpack config (hint from https://github.com/roylee0704/react-flexbox-grid/issues/28#issuecomment-198758253)

[code]

[2016-08-21 18:01] thangngoc89 commented on #639
@revolunet where should I add the `require.exensions` ?

[2016-08-21 18:05] thangngoc89 commented on #639
Answer my own question: Put it in webpack.config.babel.js

There is no **real** fix for this right ?

[2016-08-21 20:52] MoOx commented on #639
OMG. I think I have the answer. https://github.com/MoOx/phenomic/blob/5d93d4f4297e1541fe90650b48732aa89da0965f/src/builder/webpack/config.node.js#L33-L38
I guess the [a-z] regex should be tweaked to match .js files only...

[2016-08-21 20:52] MoOx commented on #639
Should be easy to fix. Sorry @revolunet for missing that the other day!

[2016-08-21 21:03] thangngoc89 commented on #639
OMG. That code was there since forever

[2016-08-21 21:26] MoOx commented on #639
The goal is to avoid ALL DEPS being compiled into the phenomic.node build (otherwise it's longer to compile static build). Meanwhile, you can provide your own "externals" in you webpack config. Try something like

[code]

Source: http://refiddle.com/im81

[2016-08-21 23:03] revolunet commented on #639
Cool we have a solution thanks 👍

[2016-08-22 02:28] DavidWells opened #641 "Build context"
I am running into a problem with a third party module (from auth0), where one of their dependancies is referencing `window` and `navigator` and is causing the phenomic node build to fail. (`npm start` dev works fine, but node static build chokes)

I'm unable to differentiate the node vs browser build from my webpack config in my site.

It looks like that would have to happen deeper at https://gith

[2016-08-22 02:44] thangngoc89 commented on #641
my way of checking for browser/node:

if (typeof window !== 'undefined')

Could you try that first? Afaik, that's only way for isomorphic app. I don't want to introduce a different way of doing this in phenomic

[2016-08-22 03:02] DavidWells commented on #641
I tried that. It didn't work. Node kept choking on the node dependancy (out of my control)

I will try again.

But the webpack provide in browser.webpack fixed the issue for me

[2016-08-22 03:05] DavidWells commented on #641
Lolz. Nevermind. @thangngoc89 you are right =P

I was wrapping my module incorrectly

[2016-08-22 03:05] #641 closed

[2016-08-22 03:11] DavidWells commented on #609
@thangngoc89 how do you think we should implement this?

Are config options available in this context? https://github.com/MoOx/phenomic/blob/2b44e19bfa095d2a4bb512c122dbb24380a83ef1/src/static/to-html/url-as-html.js#L108-L111

I can see a couple ways to turn this on:

- A command line arg `phenomic build --smallHTML(whatever)`
- A config option in package.json
- A webpack config flag?

What do you

[2016-08-22 03:21] thangngoc89 commented on #609
This should be a phenomic's config. FYI all configs in Phenomic can be altered via a cli flag or an entry in package.json/phenomic.

For adding a new config, see this file https://github.com/MoOx/phenomic/blob/2b44e19bfa095d2a4bb512c122dbb24380a83ef1/src/configurator/definitions.js

If you need some validation, add one in [validators](https://github.com/MoOx/phenomic/tree/2b44e19bfa095d2a4bb512c12

[2016-08-22 03:24] thangngoc89 commented on #609
As for accessing the config, this func https://github.com/MoOx/phenomic/blob/2b44e19bfa095d2a4bb512c122dbb24380a83ef1/src/static/to-html/url-as-html.js#L17 have access to [PhenomicConfig object](https://github.com/MoOx/phenomic/blob/2b44e19bfa095d2a4bb512c122dbb24380a83ef1/interfaces/phenomic.js#L41-L63)

It can be re-writtten like this: `export default (url: String, config: PhenomicConfig, testin

[2016-08-22 06:46] MoOx commented on #639
If you confirm this works for you 2, I can add this in master before cutting the new release :)

[2016-08-22 07:57] DavidWells opened #643 "Code splitting via routes"
Another future perf question ;)

Is it possible to override the default single script phenomic.js into a chunked build based on routes (and/or layout components)?

https://webpack.github.io/docs/code-splitting.html

[2016-08-22 08:00] MoOx commented on #643
I didn't try that yet, but I guess there is nothing to do from Phenomic side, as webpack will handle require.ensure/System.import automatically and create more chunks (in theory).
You may want to check react-router docs as well https://github.com/reactjs/react-router/blob/master/docs/guides/DynamicRouting.md#dynamic-routing

[2016-08-22 10:21] thangngoc89 commented on #639
This works for me

[2016-08-22 11:21] revolunet commented on #639
works for me too thanks \o/

[2016-08-22 11:52] revolunet opened #644 "Add source map for phenomic.node.bundle.js"
When running `npm run build` i get a cryptic error with no detail on the origin of the problem.

In that case i guess its some non server-compatible module but hard to find the exact source

<img width="1221" alt="capture d ecran 2016-08-22 a 13 46 28" src="https://cloud.githubusercontent.com/assets/124937/17853886/7e36a202-686f-11e6-9430-34ec2f89579d.png">

I have no idea how to debug this

[2016-08-22 12:00] MoOx commented on #644
I am not familiar how node can handle sourcemaps, I guess if we add correct sourcemap config in webpack, we will get proper source of the error.

Can you try this package? https://github.com/evanw/node-source-map-support#installation-and-usage
Including the line in `scripts/phenomic.node.js` should do the trick for testing.

Here is a "simple" way to add it automatically for us in the future, is i

[2016-08-22 13:09] revolunet commented on #644
tried the line in `scripts/phenomic.node.js` and the webpack banner plugin and same message :/

[2016-08-22 15:06] MoOx commented on #644
@revolunet I forgot an crucial part: Add sourcemap in your webpack config! (The default boilerplate only add for dev env!)
Try adding `devtool: 'sourcemap'` in  your config for all env please :)

[2016-08-22 17:51] DavidWells opened #645 "Discussion: Pull instead of Push"
Just wanted to leave this here for discussion.

This post by kyle was pretty interesting: https://bricolage.io/gatsby-open-source-work/

This is the idea behind collections yes?

Perhaps there is a way to have static everything + a query-able database through a managed search provider like [algolia](https://www.algolia.com/doc/guides/getting-started/how-it-works#introduction) or AWS elasticsearch.

[2016-08-22 18:19] thangngoc89 commented on #645
I implemented it a while ago. See it here

http://blog.daynhauhoc.com/

Source: https://github.com/daynhauhoc/blog

After implemented it, I think Phenomic should make it easier and prettier to implement these function. If you have any ideas of how to implement this please let's us know

[2016-08-22 21:02] kennu opened #647 "Ignore file-ignored warnings from stylelint"
I'm trying to ignore Bootstrap CSS (in node_modules) by adding

    "stylelint": {
      "ignoreFiles": "**/bootstrap/**"
    }

It works, but it causes the Phenomic build process to bark out a 500 line warning message every time I edit something:

    WARNING in ./~/css-loader!./~/postcss-loader!./~/bootstrap/dist/css/bootstrap.css
    stylelint: This file is ignored

Couldn't figure out a way to

[2016-08-22 22:03] MoOx commented on #647
Ouch. I have to admit this sucks. Need to check who is the culprit.
That can be stylelint itself or webpack... poke @davidtheclark @jeddy3

[2016-08-22 22:15] MoOx commented on #645
Haha, we can already do that with Phenomic ;)
So yeah it's "collections". The thing is collections does not offer the entire content of each posts.
Grapql might offers more flexibility, I found this is overengineered (and some might say using React for a static website is already overengineered...).
We can offers (like Phenomic currently does) a more simple API. I plan to remove "collection" from

[2016-08-22 22:49] MoOx opened #648 "TypeError: Cannot read property 'trim' of undefined"
From https://travis-ci.org/putaindecode/putaindecode.io/builds/154302582#L1616

[code]

[2016-08-22 23:25] kennu commented on #518
I also found this very annoying since I don't agree with most of the formatting defaults, like double-quotes and spaces inside {  }. So I spent lots of time adding exceptions to the default rules.

Also, the auto-formatting completely breaks with this tag:

    <ReactBootstrapSlider
      value={ this.state.width }
      handleChange={ this.changeValue }
      step={ this.state.step }
      max={

[2016-08-22 23:27] MoOx commented on #518
I will remove the too strict config by default in a near future. Please track #631.

[2016-08-22 23:28] MoOx commented on #518
This is probably an eslint issue that should be reported :)

[2016-08-23 00:19] kennu opened #649 "Build fails when Bootstrap CSS is imported"
I was able to get Bootstrap working in development mode (`npm start`):

    import "bootstrap/dist/css/bootstrap.css"

By uncommenting this in webpack.config.babel.js:

        {
          test: /\.css$/,
          // depending on your need, you might need to scope node_modules
          // for global CSS if you want to keep CSS Modules by default
          // for your own CSS. If so, uncomment th

[2016-08-23 00:20] revolunet commented on #644
For some reason i had some minimal info in the console (i dont know how) :

<img width="627" alt="capture d ecran 2016-08-23 a 02 00 50" src="https://cloud.githubusercontent.com/assets/124937/17875987/e55d1f3a-68d6-11e6-9f48-64a13b2eabf4.png">

and it appears this line comes from `style-loader` : https://github.com/webpack/style-loader/issues/114

[2016-08-23 03:35] DavidWells opened #652 "Upgrade 15 to 16 react-router-scroll issue"
Following the upgrade commit: https://github.com/putaindecode/putaindecode.io/commit/aa1b037

I get an `Uncaught TypeError: (0 , _reactRouterScroll2.default) is not a function`

![image](https://cloud.githubusercontent.com/assets/532272/17879524/85da10ce-68a7-11e6-9dee-1d8336e60eab.png)

I installed phenomic 0.16 via npm `npm i phenomic@0.16.0 --save`

Any ideas what is going on here?

`react-rout

[2016-08-23 03:37] DavidWells commented on #652
Perhaps this? https://github.com/MoOx/phenomic/commit/7e275b7a65a23c60b97c82aadb1d2dc7572c0bb8

[2016-08-23 03:41] DavidWells commented on #652
Confirmed

`rm -rf node_modules/react-router-scroll && npm i react-router-scroll@0.2.0` fixed this bug

Looks like v 0.3.0 has breaking change how it's called/imported

[2016-08-23 05:42] MoOx commented on #648
Not a phenomic bug.

[2016-08-23 05:42] #648 closed

[2016-08-23 05:45] DavidWells opened #653 "Error: phenomic (static) doesn't handle redirection yet"
After upgrading from 0.15 to 0.16

![image](https://cloud.githubusercontent.com/assets/532272/17881407/fe084252-68b9-11e6-9e2f-7375b8dd3c9f.png)

This is after fixing this bug https://github.com/MoOx/phenomic/issues/652 the `npm run build` fails

[2016-08-23 05:46] MoOx commented on #653
Phenomic does not handle redirections indeed. This need some work and an issue is already open. See #628.

[2016-08-23 05:47] DavidWells commented on #653
@moox I haven't setup any redirects is the problem =)

[2016-08-23 05:47] MoOx commented on #652
This is a bug. Will fix it.

[2016-08-23 05:48] MoOx commented on #653
Hum... Can you show me your `routes.js` ?

[2016-08-23 05:49] DavidWells commented on #653
I do have an odd route config:

[code]

[2016-08-23 05:49] MoOx commented on #644
That would be really nice to know what you did to get something more relevant ^^

[2016-08-23 05:50] MoOx commented on #653
Hummm... Does `onEnter` handle a redirection? My guess is "yes", since it seems to be a protected page.

[2016-08-23 05:53] MoOx commented on #649
This is a dup of #639.
Will push a quick fix asap.

[2016-08-23 05:53] #649 closed

[2016-08-23 05:54] DavidWells commented on #653
@MoOx yep that was the issue.

Will try to check for window and give onEnter `null` on static build

[2016-08-23 05:54] MoOx commented on #649
FYI, a workaround is explained here https://github.com/MoOx/phenomic/issues/639#issuecomment-241283144

[2016-08-23 05:55] MoOx commented on #653
Yeah you will probably need to do something like that.
We should add a note in the FAQ cause we can't really fix that :/

[2016-08-23 05:56] MoOx commented on #530
This has been done in the current default boilerplate.

[2016-08-23 05:56] #530 closed

[2016-08-23 05:57] MoOx commented on #15
This is implemented in 0.16 🎉

[2016-08-23 05:57] #15 closed

[2016-08-23 05:58] DavidWells commented on #653
This is the full code that works with static build now =)

[code]

One oddity I have with this route config though is hard refreshes on site.com/login for example flash a 404 then the router kicks in and displays the correct page.

Does every route need a matching .md file to avoid this?

[2016-08-23 05:58] MoOx commented on #312
https://github.com/eduardoboucas/staticman seems to be the solution. Super easy to implement. We need to try this and document it!

[2016-08-23 06:00] MoOx commented on #653
No, if you have a weird behavior, it's probably a bug.

[2016-08-23 06:02] DavidWells commented on #653
ok scratch that. Must have been my fault or something in 0.15 only

Thanks for the quick fix. =)

[2016-08-23 06:03] MoOx commented on #653
@DavidWells do you have a trailing slash for you login route? Can you try to access `.../login/` from your static build?

[2016-08-23 06:05] DavidWells commented on #653
The /login index.html file is now in my dist folder. For some reason on 0.15 it didn't seem like that was the case for my custom routes

[2016-08-23 06:08] MoOx commented on #653
@DavidWells indeed, previously only .md (files consumed by phenomic loader) were converted to html. Now all pages are supposed to be handled, with some restrictions https://phenomic.io/docs/usage/routing/

For your 404, a nasty thing can be this site.com/login !== site.com/login/

[2016-08-23 06:17] MoOx commented on #653
Thanks for the PR on the doc ❤️
I will close this when a entry in the FAQ explain the error message :)

[2016-08-23 06:19] MoOx commented on #356
I consider this as a dup of #147

[2016-08-23 06:19] #356 closed

[2016-08-23 06:19] MoOx commented on #360
This had been handled in 0.16.0 \o/

[2016-08-23 06:19] #360 closed

[2016-08-23 06:20] MoOx commented on #411
Will revisit this later, not a priority atm.

[2016-08-23 06:20] #411 closed

[2016-08-23 06:21] MoOx commented on #420
I guess we can handle this by using the "context" option of phenomic loader. Maybe it's just some missing doc.

[2016-08-23 06:23] MoOx commented on #358
Now we are supposed to be able to do this via phenomic loader plugins. Will need some tests I guess. https://phenomic.io/docs/usage/plugins/

[2016-08-23 06:25] MoOx commented on #437
I guess it's ok know. Anyway if someone is stuck on this and read this page, please get in touch ;)

[2016-08-23 06:25] #437 closed

[2016-08-23 06:26] MoOx commented on #483
This is done!

[2016-08-23 06:26] #483 closed

[2016-08-23 06:35] MoOx commented on #652
@DavidWells can you tell me what is your version of react-router?

[2016-08-23 06:44] #527 closed

[2016-08-23 06:45] MoOx commented on #522
There is currently no more restriction since we started to use webpack offline-plugin.

[2016-08-23 06:45] #522 closed

[2016-08-23 06:52] DavidWells commented on #652
Did a `rm -rf node_modules` after installing phenomic 0.16 from npm.

The react-router version in there right now is react-router@2.7.0

[2016-08-23 07:24] MoOx commented on #652
Found the issue https://github.com/taion/react-router-scroll/commit/29b3e0b0ff73d375997ab8b16aca358606948b92#diff-1fdf421c05c1140f6d71444ea2b27638L6
It was exporting a function in 0.3.1, not anymore. Will push a fix.

[2016-08-23 07:27] #652 closed

[2016-08-23 07:30] DavidWells commented on #652
@MoOx Thanks for the quick fix. Can you bump the NPM version too =)

[2016-08-23 07:32] MoOx commented on #652
Wait a minute, I am trying to push another fix as well ;)

[2016-08-23 07:52] #639 closed

[2016-08-23 07:53] MoOx commented on #639
You will be able to remove the "externals" option completely i 0.16.1. See release notes.

[2016-08-23 08:50] MoOx opened #655 "Plugins presets does not work in 0.16.0/0.16.1"
Let say you want to add a plugin, the docs said to do this

[code]

But you need this in 0.16.0/0.16.1

[code]

This is due to an incorrect import/export. Will fix that.

[2016-08-23 08:58] MoOx commented on #647
@kennu Maybe you can remove stylelint for this loader section? Should be straight forward.
Not sure if stylelint maintainers want to remove this warning :/

[2016-08-23 09:02] #644 closed

[2016-08-23 09:02] #655 closed

[2016-08-23 10:22] MoOx opened #656 "Warning: %s Module parse failed: /.../node_modules/any-promise/LICENSE Unexpected token (1:14)"
This is a regression in 0.16.2 due to https://github.com/MoOx/phenomic/commit/5682683895cc5f3ed04ab01b0995c857fe694523

The workaround is to specify in your webpack config, for config.static, the "externals" options like this:

[code]

I have opened an issue to try to find a better solution for this https://github.com/kevinbeaty/any-promise/issues/27

[2016-08-23 12:42] kennu commented on #647
@MoOx Removed it, thanks for the advice. I'm still learning the framework so it was difficult to know where everything is enabled/disabled. But it's a really nice framework. :-)

[2016-08-23 13:07] kennu commented on #639
I got some errors in dev mode with the suggested workaround:

    externals: /^[A-Za-z0-9-_].*[^\.][^c][^s][^s]$/

    phenomic.browser.b6957d1….js:1212 Uncaught ReferenceError: ansi is not defined

But I got it working in both dev and static mode with this regex that doesn't match any files:

    externals: /.^/

[2016-08-23 13:09] MoOx commented on #639
I am working on another trick to avoid all those issues.

[2016-08-23 13:09] thangngoc89 commented on #639
@kennu this became more annoying than ever. Please track this

https://github.com/MoOx/phenomic/issues/656

[2016-08-23 13:10] MoOx commented on #656
Another workaround seems to be using `/phenomic\/lib\/static/` which is responsible for some pure node imports. Might try to integrate that, but hard to make a repro in this  repo itself :/

[2016-08-23 13:49] davidtheclark commented on #647
As of v7 stylelint reporter only tells you about ignored files if you use the verbose option. https://github.com/stylelint/stylelint/blob/master/CHANGELOG.md#700 So this is either due to an outdated version or the webpack loader doing its own thing, I think.

[2016-08-23 13:56] MoOx commented on #647
Thanks a lot for the explanation. We currently use an outdated version (6.8.x). Sorry!
I will close this when we will udpate to 7.x.

[2016-08-23 14:59] MoOx commented on #656
I cannot really reproduce this with the default boilerplate so not sure what is causing the issue on putaindecode repo...

[2016-08-23 15:10] MoOx commented on #111
I think the issue here (if you can confirm) is to "hide" the post in post listing + does not create file.

A way to handle that currently is "just" to hide from post listing, using a filter depending on the env. But file will still be emitted.
Maybe we can add a plugin know we have this. This might require a change in the loader to prevent loader emitting the file.

[2016-08-23 15:12] thangngoc89 commented on #111
I mentioned this before https://github.com/MoOx/phenomic/issues/630#issuecomment-240528812

[2016-08-23 15:12] MoOx commented on #359
Closing this until we handle #508. We might revisit this when we will have a better official support for that.

[2016-08-23 15:12] #359 closed

[2016-08-23 15:14] MoOx commented on #111
Yeah but my other issue was more about a real plugin system, not just related to the loader :)
Anyway we know what we need to do!

[2016-08-23 15:15] MoOx commented on #471
Does anyone consider this is still an issue?

[2016-08-23 15:16] thangngoc89 commented on #111
ok. Sounds good to me

[2016-08-23 16:01] MoOx opened #657 "Pagination"
The implementation will be a surprise ;)

[2016-08-23 17:44] DavidWells opened #658 "Module parse failed autoit.js"
Getting a build error with 0.16.2

phenomic:builder ModuleParseError: Module parse failed: /opt/build/repo/node_modules/highlight.js/lib/languages/autoit.js Maximum call stack size exceeded
You may need an appropriate loader to handle this file type.
RangeError: Maximum call stack size exceeded

I've fixed it via webpack noParse. Adding autoit.js to noParse fixed this https://github.com/isagalaev/

[2016-08-23 17:46] DavidWells commented on #658
Note that this was happening on local build, then I `rm -rf node_modules` and then local build oddly worked without this noParse change.

However our CI/CD build was always failing until the noParse /autoit.js/ was added and its fixed now =)

[2016-08-23 17:50] thangngoc89 commented on #658
I reported this before. You'll need to upgrade remark-highlight@4.0.1

[2016-08-23 17:50] thangngoc89 commented on #658
Btw: https://github.com/MoOx/phenomic/issues/616

Should I mark this as a dup ?

[2016-08-23 21:22] MoOx commented on #658
@DavidWells you have an outdated version of highlight.js, probably in your package.json. Just remove it.
remark-highlight.js should handle the correct dep for you (and latest version does not ship the buggy version).

Dup of #616

[2016-08-23 21:22] #658 closed

[2016-08-23 23:43] DavidWells opened #659 "Add custom data to redux store"
I'm not able to add custom keys to the redux store. Is there something special I need to do?

[code]

I'm getting this error when trying to add my own custom keys
"warning.js?07c3:14Unexpected key "test" found in initialState argument passed to createStore. Expected to find one of the known reducer keys instead: "pages". Unexpected keys will be ignored."

![image](https://cloud.githubusercontent.c

[2016-08-24 00:01] thangngoc89 commented on #659
window.__INITIAL_STATE__ doesn't expect to be alter by hand.

Please read this section about how to add custom redux reducer (along with your own initialState) here
https://phenomic.io/docs/advanced/redux/

[2016-08-24 00:11] DavidWells commented on #659
Thanks for the quick response! I saw those docs. Do you have any live examples I can checkout?

I was just trying to combine the initial state, with some custom stuff to start. I was going to hook up the reducers for them later.

[code]

The store when it gets combined with the `pages` key drops my custom `test` key

[2016-08-24 00:54] thangngoc89 commented on #659
This is how redux work. You're adding a state tree that no reducer can handle, so it throws error.
I don't have any live example for you but this is mostly redux stuff. What are you trying to achieve here ?

[2016-08-24 01:04] DavidWells commented on #659
It's possible (or it was) to set whatever initial state you wanted in `createStore`

Does redux strip it out now if there is no reducer to act on that key?

I will setup a new reducer and test this out. I still need to set the intial state somewhere and I don't see where you would do this other than `createStore` here. Going to follow the ducks pattern https://github.com/erikras/ducks-modular-redu

[2016-08-24 05:03] MoOx commented on #659
Like it has been explained, you probably just miss a reducer, that's how redux works.

Anyway, do not count too much on Phenomic store as it is going to be removed (you will have to handle it yourself). Please track #40.
I will try to provide instructions when it will be remove so people can keep their custom reducers using a custom store.

[2016-08-24 05:03] #659 closed

[2016-08-24 05:05] DavidWells commented on #659
@moox @thangngoc89 yep this was my fault. Importing stuff all wrong =/

Fixed it though and now have userAuth setup in redux! =)

[2016-08-24 05:09] DavidWells commented on #659
For anyone else interested. Redux will throw errors if you don't setup the corresponding reducer to handle the state key passed in.

I hadn't seen this before

[2016-08-24 07:52] florianbouvot opened #660 "[docs] link not working"
Hi @MoOx

Getting Started link doesn't work for me in [setup.md line 141](https://github.com/MoOx/phenomic/blob/master/docs/content/docs/setup.md).

[2016-08-24 09:50] MoOx opened #661 "Replace ES2015 babel preset by babel-preset-latest"
To get latest stable stuff https://github.com/babel/babel/tree/master/packages/babel-preset-latest :)
Also, remove stage-1 as it's unstable. Maybe stage-2 but not even sure now we have 2016 and 2017 is a wip.

[2016-08-24 10:01] #660 closed

[2016-08-24 10:01] MoOx commented on #660
Thanks, I just pushed a fix for this!

[2016-08-24 10:04] MoOx commented on #661
Also interesting to track https://github.com/babel/babel/pull/3476

[2016-08-24 10:07] MoOx commented on #444
@revolunet @thangngoc89 any thoughts on this?

[2016-08-24 10:08] thangngoc89 commented on #444
This mightbe duplicated with react hot loader 3 if we go for that name.

[2016-08-24 10:09] MoOx commented on #444
we will use rhl3 appcontainer so people don't have to ;)

[2016-08-24 10:11] MoOx commented on #462
My personal current ROADMAP (this does not means nobody can work on something they want to have)

- better website homepage, round 2 https://github.com/MoOx/phenomic/issues/423
- more visible/up to date roadmap (this issue, how meta?)
- update eslint/stylelint and handle all the current PRs
- normalize public API (deprecate all phenomic/lib/* and prepare monorepo) https://github.com/MoOx/phenomic/

[2016-08-24 10:21] MoOx opened #662 "Docs: npm run build -- --server"
Or `phenomic build --server`

[2016-08-24 10:22] MoOx opened #663 "Docs: How do I add a featured image in the markdown file?"

[2016-08-24 10:22] thangngoc89 commented on #444
Ok. If so, that name is fine to me

[2016-08-24 10:23] MoOx opened #664 "Docs: How can I implement categories and tags related to those categories?"

[2016-08-24 10:36] MoOx opened #665 "Bug with anchors"
Ref https://github.com/taion/react-router-scroll/issues/37

[2016-08-24 10:44] MoOx opened #666 "Docs: How can I disable phenomic-HeadingAnchorbeing added in the .md loader?"
Response by pieces here https://gitter.im/MoOx/phenomic?at=57bd7659187885ef4f72db84
Need to be added into faq

[2016-08-24 10:44] MoOx opened #667 "Docs: how to write a custom text renderer?"
Everthing technical is on "Plugins" page, but we need a step by step to explain

[2016-08-24 10:49] thangngoc89 commented on #666
How about the default markdown preset allow user to alter the remark plugins stack without rewrite a new preset?

[2016-08-24 12:15] MoOx commented on #666
I was thinking about that too :D

[2016-08-24 12:16] MoOx opened #668 "Allow to pass options to default markdown renderer (ie: ability to pass remark plugins options)"
Ref #666

[2016-08-26 13:58] MoOx opened #670 "Boilerplate: height props in for SVGInline does not work as expected"
This code is missing https://github.com/MoOx/react-svg-inline/blob/master/src/index.css

Will have to check if we can update this package to use inline CSS or to add this CSS in the global file.

Reported by @midori0507 on the chat https://gitter.im/MoOx/phenomic?at=57c049a6f6fe00361e01c4f6

[2016-08-26 14:21] MoOx commented on #598
To check:
- http://lernajs.io/ (I saw so bad feedback: slow https://github.com/pouchdb/pouchdb/issues/5545)
- https://formidable.com/open-source/builder/ (maybe a bit weird)
- https://github.com/northbrookjs/northbrook (inspired by cyclejs monorepo)
- some infos
  - https://github.com/pouchdb/pouchdb/pull/5178
  - https://github.com/boennemann/alle#readme

[2016-08-26 14:28] thangngoc89 commented on #598
Biggest trade: no greenkeeper (We are suffering this already with docs and boilerplate)

About the structure, I think we should keep the core of Phenomic in one piece at first. only break plugins section.

[2016-08-26 21:35] MoOx commented on #598
There is solution for greekeeper + greenkeeper plans to handle monorepo as well.

[2016-08-26 22:15] MoOx commented on #670
@midori0507 it appears that LayoutContainer/index.global.css includes some (fucking) global CSS rules for the SVGs.

To be able to use height props, you can apply this patch

[code]

I may integrate this patch in the next boilerplate update but we need to be careful as this will depends on svg ratio...
Will needs more tests...

[2016-08-26 22:18] MoOx commented on #670
You can also try to use react-svg-inline "cleanup" option, to remove hardcoded svg size :)

[2016-08-26 22:34] thangngoc89 opened #672 "Improve configurator error message"
![screenshot from 2016-08-27 05 29 21](https://cloud.githubusercontent.com/assets/3049054/18022300/d7912286-6c17-11e6-9d54-52f22f7ae5be.png)

- using process.exit instead of throw new Error
- console.log(colors.red(

[2016-08-27 00:57] akfish commented on #589
I'm having the same problem with latest version 0.16.2 on both Windows 10 x64+node 6.4.0 and Ubuntu 14.04+node 4.4.7

`npm start` gave some warning on windows:
[code]
And thrown some errors on Ubuntu:
[code]

Opened in Chrome:
![image](https://cloud.githubusercontent.com/assets/922715/18023940/aecf120c-6c32-11e6-9c3e-b6e37c53805c.png)

![image](https://cloud.githubusercontent.com/assets/922715/180

[2016-08-27 01:15] akfish commented on #589
Strangely, it works without any issue in `cmd.exe`. I guess it just doesn't like neither powershell nor vagrant ssh.

[2016-08-27 07:11] thangngoc89 commented on #589
I got this one yesterday too

[code]

`rm -rf node_modules && npm install` solved it.

[2016-08-27 17:26] thangngoc89 opened #673 "Define root index of the project via `route` parameter"
Looks like there is no way you can define a route like this

[code]

and expect it to becomes the root of your project.

I tried with several alternative route like `/index.html`, `index.html` but no luck.

Investigating this

[2016-08-27 17:30] thangngoc89 opened #674 "Ability to use multiple phenomic loader instances"
This would allow you to have a mixed document style in your project (like markdown with ascii/ latex or whatever)

We will define a `useConfigKey` to determine where to load the config from webpack's config

[2016-08-27 17:43] thangngoc89 commented on #673
OK. I solved this. But I'm using phenomic@0.15

I'll find time to send a proper PR with test and everything. For anyone who is encountering this (or willing to fix this) this is what to add

At https://github.com/MoOx/phenomic/blob/3e4b400785a188e6f0f227740db55c53923306c1/src/content-loader/index.js#L56

Make sure `tmpUrl` never starts with a slash

[code]

https://github.com/MoOx/phenomic/blob/3e

[2016-08-27 21:40] MoOx commented on #589
Weird that this happens in different envs... Any specific idea that can be the source of the error @akfish ? I am not really used to cmd/powershell etc... (macos user).

[2016-08-28 01:04] akfish commented on #589
@MoOx The main difference in powershell is the following warnings:

[code]

So I did some digging. It seems to be related to webpack/webpack#2362.
Node's builtin functions are not consistent when handling drive letters in the file path. In powershell it's always in uppercase (e.g. `F://dev`) and in cmd.exe it's the opposite (e.g. `f://dev').

But I'm not sure if this could break phonemic since it'

[2016-08-28 20:39] MoOx opened #676 "Automatic registeration of page layouts"
Easy!

[code]

We should add this in the default theme and also try to reduce this code, maybe using a function that accept the "reqLayouts". An issue might be the context that will be used for the require (same thing as the hot reload for markdown...)

[2016-08-28 21:27] thangngoc89 commented on #676
Can we force users to use `web_modules/layouts` as layouts location ? This would eliminate a lots of unneeded code in the boilerplate

[2016-08-28 21:30] MoOx commented on #676
We could highly recommend, but nothing should be mandatory. Especially file tree, which is likely to be adjusted depending on the need, context, legacy etc...
But I am not even sure that with this restriction, the problem will go away. The require.context usage can be very tricky from my previous tests (for markdown hot loading).

[2016-08-28 21:32] thangngoc89 commented on #676
I used `require.context` a few times and like you said, it's very tricky.

[2016-08-29 13:07] MoOx opened #679 "FAQ: why did I get a page with "..." when running "npm start"?"

[2016-08-29 19:23] DavidWells opened #680 "Idea: Preload .json files on link hover"
Had this idea the other day similar to what https://github.com/dieulot/instantclick does.

The idea is having `<Link>` prefetch the page's corresponding  `.json` data file when a link is hovered on.

`Link hover -> prefetch json -> update redux page store (without actually changing the route) -> user clicks for instant page load`

Not proposing to do this for all links but might be interesting for

[2016-08-29 19:27] DavidWells commented on #676
I like the idea. =)

I wanted this originally but realized that it might be limiting for people who want custom file directories.

Maybe if you make that trick an optional phenomic util people can use?

[2016-08-29 21:09] thangngoc89 commented on #680
I like this idea. I think we can package this into a HOC for PageContainer

[2016-08-30 07:10] MoOx commented on #680
Good idea :)

[2016-08-30 07:20] MoOx commented on #589
Yeah this is kind of weird...

[2016-08-30 07:46] kevin940726 opened #684 "FAQ: Why I am seeing "No posts yet." while I have some .md files already?"
Hi, I really like this project but I cannot get it done by just follow the instruction.

First I tried to add several markdown posts to the app I've created, but it seems to not detecting the posts. It kept showing 'no posts'.

Then I tried to work on the boilerplate to figure out what went wrong. I followed the instruction on the [contributing](https://phenomic.io/contributing/) page. After runni

[2016-08-30 07:59] MoOx commented on #684
Hi @kevin940726!

I think for new pages, you need to restart webpack build, I think they are still issue with new files and require.context (since .md files are required via require.context webpack feature).

Can you give us more detail about your setup, file tree etc?

For the issue with the boilerplate, let me fix that, it's a stupid issue.

[2016-08-30 09:29] MoOx opened #685 "Docs: how to add you own Provider (eg for react-intl-redux)"
https://gitter.im/MoOx/phenomic?at=57c54e70570d057454c2b340

[2016-08-30 10:08] MoOx commented on #684
I pushed a fix so the boilerplate can be edited. But I would like to help you about your "no posts" problem :)

[2016-08-30 13:04] MoOx opened #686 "Simplify collection API"
- remove redux store
- remove collection from the react context
- offer a simple single method api "getContent({ filter: ..., sort: ... /* current enhance-collection api */ })"
- deprecate enhance-collection method

[code]

Ref https://gitter.im/MoOx/phenomic?at=57c57f826bf6aa805ece9503

[2016-08-30 15:41] kevin940726 commented on #684
I was outside, sorry for the late reply.

After updated, the `npm run boilerplate-start` script works great 👍

Since it hasn't published to npm yet, after running `npm run boilerplate-start`, I `cd` into the `boilerplate` directory and make a change to the source directly. (I wonder if this is the correct way for now?)

After trying some ways, I finally get it working by **cleaning the cache**. I

[2016-08-30 15:55] thangngoc89 commented on #684
@kevin940726 how did you "cleaning the cache" ? We don't have any cache layer there.

`npm run boilerplate-start` is the script for starting boilerplate in development mode :)

[2016-08-30 16:06] MoOx commented on #684
In development **when contributing**. For a normal project (based on the boilerplate), just "npm start" is enough.

[2016-08-30 16:35] kevin940726 commented on #684
The *Empty Cache and Hard Reload* button :joy:
![more like this](http://www.code-pal.com/wp-content/uploads/2013/03/clear-cache-and-reload.png)

More precisely, whenever I open the browser without empty the cache, there is a **service worker** running in background to install the cache. You can see it in the **Application** tab of the chrome dev tool. I would be really really embarrassed if this i

[2016-08-30 16:41] thangngoc89 commented on #684
The cacheDirectory is babel's cache. It's for node, nothing to do with the browser. And yeah. Cleaning service worker cache is a good choice.

[2016-08-30 17:23] kevin940726 commented on #684
Maybe we shouldn't be running service worker in development? We can only install the offline plugin in production build. Wonder if this is a good idea?

[2016-08-30 17:29] thangngoc89 commented on #684
SW isn't run in development mode. It maybe a leftover from a another session.

[2016-08-30 20:30] DavidWells opened #688 "Idea: key in yaml to ignore specific markdown files on build"
Sometimes I have markdown files that aren't ready to be published but are in the repo in the `/content` folder.

[code]

What would be cool is if I could add a `status:draft` (or `draft:true`) key to the frontmatter yaml and ignore the file in the site build.

Then people in the repo can contribute to the non-published doc and the file wouldn't need to get moved around a bunch.

**Example:**

[cod

[2016-08-30 20:50] thangngoc89 commented on #688
Duplicated of https://github.com/MoOx/phenomic/issues/111. Close ?

[2016-08-30 21:15] MoOx opened #689 "Disable ServiceWorker in dev"
Most of the time, it's causing too much trouble.
We should allow to enable in dev via a cli flag only. Or via an option offline: { dev: true }

[2016-08-30 21:16] MoOx commented on #684
SW are run in development for debugging purpose. But this is causing too much trouble. I will deactivate this by default and allow to unable in dev via a flag. Here is an issue for that https://github.com/MoOx/phenomic/issues/689

Anyway @kevin940726 can we focus here about your initial issue? This dev mode on the boilerplate is mainly for contributing to the boilerplate, via some hacks, not reall

[2016-08-30 21:18] MoOx commented on #688
Yeah it's a dup. We should definitely allow phenomic loader to produce multiples files or NO files at all via one entry.

[2016-08-30 21:18] #688 closed

[2016-08-30 21:20] thangngoc89 commented on #689
What ? It's enabled in dev

[2016-08-30 21:29] MoOx commented on #689
Nice part: This allows you to not have a blank page when you start the dev server.

[2016-08-30 21:29] MoOx commented on #689
Bad part: when you have more than 1 phenomic project using offline, you might get the appshell of another website... Which sucks too much.

[2016-08-30 21:31] thangngoc89 commented on #689
That explains sometimes I saw phenomic docs instead of my webiste. We should disable SW in dev. It's annoying.

[2016-08-30 21:32] MoOx commented on #689
That's why I opened this issue :)

[2016-08-31 00:53] DavidWells commented on #508
@MoOx checkout https://github.com/serverless/site/tree/master/src and let me know what you think.

Getting close to a pretty standard structure that (I think) is easy to approach for folks not used to `React` / `Phenomic`

My team at serverless was able to jump in and start making tweaks pretty easily

[2016-08-31 04:48] MoOx commented on #508
@DavidWells Thanks for sharing your architecture. The fun part is that I am currently working on that and I almost have the same tree (probably because we discussed about this):

[code]

I will borrow you some interesting stuff like "pages" and the fact that you add README in every folder. I will also move app/* into src directly.

The IndexComponent is interesting. LayoutContainer is definitely c

[2016-08-31 05:30] kevin940726 commented on #684
@MoOx That would be great!

Sure, here is my folder structure of `content`. (from an app I created by npm, not cloning and building the boilerplate from source)
[code]

I've clean up the cache (or service worker) and reload and rebuild (re-run `npm start`). But the page keep showing `No posts yet.`. I've seen my posts in the `collection` prop of the `PhenomicContext` component. And also in the `co

[2016-08-31 05:40] thangngoc89 commented on #684
Do you have the source somewhere so that I can check it out. This is probably a bug

[2016-08-31 05:42] MoOx commented on #684
@thangngoc89 This is probably not a bug.

@kevin940726 If I understand correctly, you created your project using our setup?
I assume that according to the tree that contains the assets/react.svg :)
The current default boilerplate show you "No posts yet." if the current filtered collection does not return any posts. And, still according to the current default boilerplate, the filters are { layout:

[2016-08-31 05:50] kevin940726 commented on #684
@MoOx Oh! That's the case! Thank you so much!

I knew that there is this option, but I thought every post layout was set to `Post` by default (which I think it should? At least in the `posts` folder).

[2016-08-31 05:52] MoOx commented on #684
We don't have a magic _posts folder like Jekyll. Some people will use "posts", some other will use "blog" or "news" etc. So I am not sure we should add this magic behavior. But I am not again changing the default boilerplate default filter if some of you think it should be changed.
Otherwise I guess adding this in the FAQ might help.

[2016-08-31 06:05] kevin940726 commented on #684
I've noticed that there is a brand new `Getting Started` section in the documentation (which is so awesome! great job!). I think that the common layout (`Page` and `Post`) should be well-document in [this section](https://github.com/MoOx/phenomic/blob/master/docs/content/docs/getting-started.md#how-to-add-a-new-page-in-phenomic). And a clear example for what the default layout is and some other bu

[2016-08-31 06:06] MoOx commented on #684
Will add this in this section, good idea!

[2016-08-31 09:04] MoOx opened #692 "Default theme: stop using pkg.name as site name"
Currently we are doing this

[code]

Which sucks because the pkg name is restricted to dashed-case.

We should think of a place to store the website name. Relying on pkg.name (and homepage etc) is not a good idea in all case.
We should provide upgrade instructions for this.

[2016-08-31 09:45] thangngoc89 commented on #692
I suggest using a seperate phenomic.yml (or toml/json) or something like that. It also serves as an identifier for phenomic projects.

[2016-08-31 09:49] MoOx commented on #692
The easy way is to use https://github.com/davidtheclark/cosmiconfig which allow to use anything you want.

I guess we should add this fields in phenomic config:
- name
- url

[2016-08-31 09:50] MoOx commented on #692
For other stuff like twitter/github/disqus etc we should allow a specific field to accept anything. We might call this "metadata".

[2016-08-31 09:51] MoOx opened #693 "Magically handle hot loading for phenomic content"
The boilerplate code in phenomic.browser.js is so annoying. We should investigate on how to handle that.

[2016-08-31 09:53] MoOx opened #694 "Make some files optional (eg: scripts/phenomic.*.js and some others)"
Phenomic should use some from the base theme if files does not exists.

[2016-08-31 09:55] thangngoc89 commented on #692
I think for configs, we should enforce a single location. The is better for themes. And `metadata` sounds right to me

[2016-08-31 09:57] MoOx commented on #692
I don't like enforcing things. We will definitely _recommend_ a way, but I don't want people to not be happy. Anyway, people won't read doc, so they might miss this "feature": they will probably stick with recommended (default) way :)

[2016-08-31 10:01] thangngoc89 commented on #692
lol. It's your call. But sometime, flexibility comes with burden since people (like me) likes to customize everything and it's a burden to keep track of the upstream and bugs.

If you're going with https://github.com/davidtheclark/cosmiconfig , I suggest that you add a function for theme author to get user's config like

[code]

[2016-08-31 10:07] MoOx commented on #692
Yeah definitely!

[2016-08-31 10:10] MoOx opened #695 "Change the setup to accept an existing package.json"
This will allow to keep a real package.json in the base theme. More easy to work on it, no weird tricks.

[2016-08-31 10:10] MoOx commented on #695
Btw, setup should not override existing file, or at least it should warn or ask.

[2016-08-31 19:44] MoOx opened #697 "Remove Link and instead remove index.html when user navigate"

[2016-08-31 19:59] DavidWells commented on #628
This is interesting: https://github.com/auth0/blog/blob/c0bd3926d108ca80b302354aa868c83f9a50a65b/_plugins/alias_generator.rb#L80

Handling redirects via meta refresh.

So basically if a post has `alias` in the frontmatter the build process creates that HTML with redirect. https://github.com/auth0/blog/blob/c0bd3926d108ca80b302354aa868c83f9a50a65b/_plugins/alias_generator.rb#L81-L90

[code]

if som

[2016-08-31 20:09] MoOx commented on #234
Docs already use that now. Anyway we will need a real doc revamp after API cleaning.

[2016-08-31 20:09] #234 closed

[2016-08-31 20:10] MoOx commented on #400
Will be improved by #532 and maybe #646

[2016-08-31 20:10] #400 closed

[2016-08-31 20:12] MoOx commented on #471
Closing as I didn't get more feedback on this

[2016-08-31 21:23] thangngoc89 commented on #628
@DavidWells I planned this as well. I have a wip branch here https://github.com/MoOx/phenomic/tree/feat/redirection but I don't have time to continue the work (yet). Will look into it later

[2016-08-31 22:26] DavidWells opened #700 "Discussion: Support for YYYY-MM-DD-post-name.md markdown files"
Would it be possible to support the standard jekyll post name format `YYYY-MM-DD-post-name.md`?
1. People could port from jekyll to phenomic with relative ease =)
2. Files in /blog would be easier to navigate through (example: https://github.com/auth0/blog/tree/master/_posts everything is in date order to quickly jump to a given post)

We are doing the serverless blog in phenomic as well and I'm t

[2016-08-31 22:41] thangngoc89 commented on #700
Hi @DavidWells,

Personally, I don't like this kind of magic from Jekyll. This makes sense in Jekyll because it's a blog-aware static site generator (SSG) . On the other hand, Phenomic is a general SSG so this makes no sense to Phenomic. But supporting people migrating from Jekyll (or other SSG) should be a top priority for us.

I migrated my blog from Jekyll to Phenomic once and I can feel the pa

[2016-09-01 00:45] DavidWells opened #701 "Question: Possible to disable remark-highlightjs?"
Random question about Google indexing developer posts about code.

I'm curious if the HTML generated from  `remark-highlightjs` is indexed correctly as the original source code or if it's jumbled up because of all of the additional `<span>` tags in the html.

We are going to publish a TON of src code and want to have it as google friendly as possible =). Just wondering if anyone has insight on thi

[2016-09-01 00:53] DavidWells commented on #700
@thangngoc89 Yeah that sounds good.

I think we are still going to use the jekyll style convention though with the `YYYY-MM-DD` prefix but our blog content is going to live in a separate repo and will be included before `phenomic build` runs.

During this "before phenomic build" process, I'm going to remove all the date-prefixes from the file names.

It would be night if phenomic did this though,

[2016-09-01 01:19] thangngoc89 commented on #701
1) How google index highlighted code?  I don't know
2) Remove remark-highlight.js ? Yeah. Possible but It's a pain right now. You have to write yourself a custom plugin to do that. See https://phenomic.io/docs/usage/plugins/

We have an issue https://github.com/MoOx/phenomic/issues/668 to help with this pain. But no time yet.

3) Putting the highlighted code in a seperated html file load it via ht

[2016-09-01 01:20] thangngoc89 commented on #700
@DavidWells I marked this as a feature request. Will look in to this later .

[2016-09-01 01:31] DavidWells commented on #701
Thats what I am saying. Disabling the `remark-highlight` on build and only using it on the client =)

This might also be a request for people that want to use other syntax highlighters like prism.js

[2016-09-01 01:34] thangngoc89 commented on #701
@DavidWells could you make a PR for #668 ?

[2016-09-01 01:40] thangngoc89 commented on #668
User can pass in a custom `mdify` function in phenomic-loader-plugin-markdown-transform-body-property-to-html (the default one is [here](https://github.com/MoOx/phenomic/blob/13a8353d0c0c73752eca64b1b8c915f8701972c1/src/phenomic-loader-plugin-markdown-transform-body-property-to-html/index.js#L9))

Usage:

[code]

[2016-09-01 01:51] DavidWells commented on #701
@thangngoc89 I see it being used here: https://github.com/MoOx/phenomic/blob/bd5a898aee22dea91c7cba936c34ec1d9f36c02f/src/phenomic-loader-plugin-markdown-transform-body-property-to-html/index.js#L29 I'm not sure how one would pass options there though.

I'm using the `phenomicLoader`. If I understand that correctly. The `phenomicLoader` is a preset of all the plugins combined already for me?
[code

[2016-09-01 02:18] thangngoc89 commented on #701
@DavidWells I updated #668 ưwith more information. Could we continue the discussion overthere? You can pass the option via phenomic field in webpack config

[2016-09-01 03:32] MoOx commented on #628
The alias thing is a good idea.

[2016-09-01 04:05] MoOx commented on #701
@DavidWells not sure what is the difference between code with and without span for Google. Any resources on that?
Anyway, closing in favor of #668 which might allow any default option to be adjusted.

[2016-09-01 04:18] MoOx commented on #668
Or maybe just

[code]

@DavidWells how does this looks for you?

We could think of another way to allow flag to disable default plugins, but I am afraid it will be more complicated...

[2016-09-01 04:21] MoOx commented on #700
We could make an option *enabled by default* that convert date in filename to date in the front-matter.
Oh and I guess we should handle that in phenomicLoader, maybe as a plugin if that's possible.

We should support that, it's very easy to implement.
Super handy for blog/news etc (everything related to time).
I will need that to convert my personal website anyway :)

[2016-09-01 05:40] DavidWells commented on #668
Yeah definitely don't want to make things complicated.

Trying to find any info on how google indexes `src code` snippets in posts but coming up blank. Maybe I'm just paranoid here.

It would appear that http://putaindecode.io/ stuff shows up when I search for specific `src` code so I'd guess this isn't a real issue https://www.google.com/search?q=%22%3Ch1+class%3D%22titleColor__abc5436+bigTitle__

[2016-09-01 05:43] MoOx commented on #668
Indeed, the reference is post is about CSS modules that show correctly a example of an hashed class name :D

Cool to know you are happy with the default renderer :)

[2016-09-01 05:43] MoOx opened #702 "Add an highlight.js theme in the default boilerplate"

[2016-09-01 05:44] MoOx commented on #701
Closing as it's possible, even if not easy. Will be better with #668

[2016-09-01 05:44] #701 closed

[2016-09-01 06:59] MoOx commented on #433
I did some stuff about that in #698, but in order to finish this, we will need webpack 2 #421 to be able to serve client and static lib from the same package (otherwise, client build will have everything, and that's too much).

[2016-09-01 07:17] MoOx commented on #424
demo.phenomic.io or phenomic.io/demo?
Wait stop. What about this:

themes.phenomic.io/base or phenomic.io/themes/base?

I think phenomic.io/themes make more sense as we might offers an official "catalog" one day or another?

[2016-09-01 07:19] thangngoc89 commented on #421
I think webpack 2 is stable enough to be used in phenomic. I use it in several project right now.

I read somewhere that webpack's team is focused on making the documentation better atm. And working on the next version.

[2016-09-01 07:20] MoOx commented on #421
Same here, using v2 for a while now.

Indeed they works on the doc to remove "beta" flag :)

[2016-09-01 07:20] thangngoc89 commented on #424
See http://themes.gohugo.io/ if you need inspirations. I think we should go with Hugo's way

[2016-09-01 07:46] DavidWells commented on #424
`phenomic.io/themes/base` looks prettier to me but might be harder to maintain.

The subdomain approach might be easier in the long run.

You could have all the themes live on the subdomain and still have a phenomic.io/themes/ page that acts like http://demo.mythemeshop.com/s/?theme=myPortfolio (Not endorsing the design here). It's just a simple iframe that loads in a different URL when you choose

[2016-09-01 09:06] #444 closed

[2016-09-01 09:06] #529 closed

[2016-09-01 09:07] MoOx commented on #433
This is not finished yet :)

[2016-09-01 09:08] MoOx commented on #529
You can check the new tree here https://github.com/MoOx/phenomic/tree/master/themes/phenomic-theme-base
Feedbacks welcome :)

[2016-09-01 13:40] drFabio commented on #663
What is this about ?
I am already adding an image by adding on the metadata and extending PagePreview for example to display it on the list. Is something like this or something else?

[2016-09-01 13:42] MoOx commented on #663
Something like that yes. Use a field in the metadata and then just use this field in a component :)

[2016-09-02 06:13] #672 closed

[2016-09-02 16:00] thangngoc89 opened #706 "Docs: Add other deployment options"
- S3: http://stout.is/
- Surge.sh
- Gitlab Pages

Any suggestion ?

[2016-09-02 16:01] thangngoc89 opened #707 "Check for node and npm version when run phenomic"

[2016-09-02 16:26] DavidWells commented on #706
https://www.netlify.com/blog/2016/04/19/a-step-by-step-guide-phenomic-on-netlify/

[2016-09-02 16:43] thangngoc89 commented on #706
@DavidWells  Thanks :+1:

[2016-09-02 22:19] DavidWells opened #712 "Improve collection item private metadata"
I'm trying to trim down the window.collect as much as possible. It would appear that some of the values in the default object have very similar values and I'm wondering if we might be able to trim them down.

https://github.com/MoOx/phenomic/blob/1a11c7f8db4bdc373b72764535f6e5629e042f0a/src/phenomic-loader/minify.js#L13-L16

For example: `__resourceUrl` and `__url` are almost always the same excep

[2016-09-02 22:24] DavidWells opened #713 "Improve the way we consume collection(s) to avoid sending all metadata in all pages"
Related to trimming down the `window.collection`.  #712

When you add in new custom meta (like in this blog post example) all those extra fields are also added to the `window.collection` data. This could potentially make it HUGE

Example:

[code]

All the data also exists in the `index.html.bf1d5e0db467ef721b8508992749379b.json` file.

So the question is, **would it be possible/worth it** to remov

[2016-09-02 22:25] thangngoc89 commented on #712
You can optimize __dataUrl field.

Currently, the *.json needed for loading the page will be place next to the index.html file.

This adds extra bytes on window.collection if the path is too long. Since we track the dataUrl manually, we can put all the *.json files into a folder. Say phenomic/data and only specify the file name then. @MoOx what do you think?

By the way, I'm working on a big site

[2016-09-02 22:25] DavidWells commented on #700
I wrote this script to handle the automatic filename rewrites for us for right now if you find it useful

[code]

[2016-09-02 22:30] thangngoc89 commented on #713
It depends on use cases. If user doesn't require any of these field in their codebase for generating a list of posts, it's possible to remove them. See collections API https://phenomic.io/docs/usage/collections/

Does it worth it? I don't know. In the huge site of yours, if you remove all of these custom fields how much bytes do you gain ?

[2016-09-02 22:57] thangngoc89 opened #714 "Phenomic is bundling default render in client bundle"
The title pretty much explains itself. This should be consider at high priority and should be fix immediately.

We have 2 options here:

- Use webpack 2 tree-shaking
- Remove phenomic-plugin-* export from `/src/index.js`

[2016-09-03 04:03] MoOx commented on #714
webpack 2 #421, since more are moving to index.js. Should not be that hard anyway.

That's not really bug, but yeah that sucks :D

[2016-09-03 04:58] MoOx commented on #713
I am currently discussing with @bloodyowl to improve Phenomic collection API in order to stop sending almost all data into all pages. The idea is mainly to only put in the pages the data used (minimal json) and create json for each possibles pages.

For now I don't plan to add a custom way to retrieve only some fields, because if we choose the solution above, it won't be a big deal (tell me if I a

[2016-09-03 05:01] MoOx commented on #712
Maybe we can improve that indeed. Instead of the full value in resourceUrl, we might just add the diff that should be added (or not) from `__url`.

[2016-09-03 05:18] thangngoc89 commented on #714
It makes my bundle 1MB . So yeah, it really sucks

[2016-09-03 05:22] thangngoc89 commented on #713
Totally agree with this approach. Filter with js runtime can be slow especially if you have a lot of pages.

[2016-09-03 05:24] MoOx opened #717 "Disable greekeeper"
It's currently a pain in the arse more than a pleasure due to the fact that it's not smart at all...

[2016-09-03 05:24] MoOx commented on #717
Done.

[2016-09-03 05:24] #717 closed

[2016-09-03 05:25] thangngoc89 commented on #717
:+1:

[2016-09-03 05:27] MoOx opened #718 "Update eslint(-*) & stylelint(-*) to latest"
Cf greenkeeper PRs.

[2016-09-03 05:28] thangngoc89 commented on #712
@MoOx could you explain the different between resource and url? A full implementation if diffing algorithm will add a lot of bytes to the main bundle. So if I can see the different between between url and resource, I can make the diffing shorter

[2016-09-03 05:29] MoOx commented on #712
url: /blah/
resourceUrl: /blah/index.html

When I say diff, I mean resourceUri: index.html or ""

[2016-09-03 05:32] thangngoc89 commented on #712
So the resourceUrl always url + string right? No other cases. We can omit resourceUrl field if url === resourceUrl

[2016-09-03 05:32] MoOx commented on #707
Closing in favor of #709

[2016-09-03 05:32] #707 closed

[2016-09-03 05:32] MoOx commented on #712
Yeah probably. Will just need to adjust code that use resourceUrl.

[2016-09-03 05:32] thangngoc89 commented on #712
What about my idea above? Moving all .json to a folder. It could save some bytes without big changes

[2016-09-03 05:33] MoOx commented on #712
Why not.

[2016-09-03 05:36] thangngoc89 commented on #712
Also, you shorter hash. We dont need a full hash here.

[2016-09-03 05:37] MoOx opened #719 "Add a way to consume Wordpress API"
I need this.
The real idea is open Phenomic to consume anything. Ref #713 that will involve changes in how we collect data.

[2016-09-03 05:41] thangngoc89 commented on #719
AKAIK, webpack can consume files only. So even if we have a nice API, that API has to write some files down. That's what I'm doing with http://cpp.daynhauhoc.com

[2016-09-03 07:19] bloodyowl commented on #719
not an issue IMO. if the user write a file containing all its data requirements, we just need to accept a `() => Object | Promise<Object>`, this way the user can use webpack `require.context` or `fetch`. although we have to note that in any case we lose hot reloading on file contents with this.

[2016-09-03 07:24] thangngoc89 commented on #712
This is the code that generate `url` and `resourceUrl`

[code]

@MoOx instead of diffing and do some weird trick to generate resourceUrl, can we bundle the `urlify` utility in client ? Might need webpack 2 those. Because it requires `path.join`

[2016-09-03 07:42] thangngoc89 commented on #712
@DavidWells @MoOx I did some optimization based on our discussion here.

# Commands

- Calculate size of all html files inside dist folder

[code]

- Count number of files. Make sure we didn't mess up anything

[code]

[code]

# Results

- Initial: 3,1M
- Make digestHash shorter (5 chars): 3,0M
- Use a central folder for storing .json file: 2,9M
- Remove __resourceUrl field: 2,8M

# Discussion

Th

[2016-09-03 07:54] thangngoc89 commented on #712
This is a quick test on a site with 64 html files. Looks like removing __resourceUrl is the biggest improvement here

[code]

[2016-09-03 08:16] thangngoc89 commented on #714
After a careful measurement since it adds 500KB to the bundle size. This should be consider as a bug (well technically it doesn't)

[2016-09-03 08:22] thangngoc89 commented on #680
http://instantclick.io/

[2016-09-03 08:37] bloodyowl commented on #713
Added a few changes to my proposal:

## Content definition

[code]

## Consuming the data

### Indexed queries

[code]

### "Special" queries

[code]

### Pagination

[code]

This configuration leaves us enough information to just generate `Math.ceil(collection.length / props.pageSize)` pages at build time.

[code]

## Configuration

You basically provide your `content` and an instance of `ReactRo

[2016-09-03 19:08] MoOx commented on #714
I planned to handle webpack 2 before previous release, I forgot :D

[2016-09-03 19:09] MoOx commented on #719
Not a real issue indeed, might end up as a page in the doc :)

[2016-09-03 19:47] DavidWells commented on #719
Love it! @MoOx looking forward to seeing how it's done.

This could be a big step toward allowing folks to port out of Wordpress into a modern and secure stack =)

It would also open the door for some other API usecases like grabbing content from https://www.contentful.com/ 's API.

[2016-09-04 01:17] thangngoc89 commented on #615
Closing this. Webpack-dashboard expect it's the only thing that write to the stout. If we console.log somewhere, whether the message will be omitted or webpack dashboard's layout is broken. Oh, I forgot, this doesn't work on Windows

[2016-09-04 01:17] #615 closed

[2016-09-04 01:48] thangngoc89 commented on #421
I gave this a try and find out that, because of the mix between node and webpack environment, we can't disable commonjs module transformation in babel :/ . Any suggestions?

[2016-09-04 02:29] DavidWells opened #722 "Docs: How to add navigation breadcrumbs"
I figured out a way to add breadcrumb nav to our new site:

![image](https://cloud.githubusercontent.com/assets/532272/18228655/7db578c0-720c-11e6-8be7-5d47962ebc7a.png)

It's tough with all routes going through `*` routing but I managed to get it working with a build script + a component

I'm wondering if this might be a good additional to phenomic core?

[2016-09-04 03:23] thangngoc89 commented on #722
This is absolutely a good additional to phenomic core. Does the breadcrumb reflect the route?

I think you can do this easier by reading the window.collection

[2016-09-04 03:26] DavidWells commented on #722
Yeah it might be easier with window.collection but only if we normalize the window.collection data

We need to be able to lookup pages by a key  (maybe URL slug as key?) instead of filtering the array each time.

[2016-09-04 04:36] MoOx commented on #712
The best improvement will be to stop shipping the entire collection, so work on #713

[2016-09-04 04:40] thangngoc89 commented on #713
What can I do to help with this? Do you have any POC?

[2016-09-04 07:21] bloodyowl commented on #713
I'm working on a POC, just need to add the `PhenomicCollection` and the pagination mechanism and I'll share it, that should be a good starting point 😊

[2016-09-04 07:25] bloodyowl commented on #712
Just an idea: when passing props with the `PhenomicContainer` is defining ES5 getters instead of regular properties so that we can ship exactly what's needed. Bit risky considering some components can only render on the client, but that can be a nice way to keep the file size down.

[2016-09-04 07:59] thangngoc89 commented on #713
Nice !

[2016-09-05 01:28] kevin940726 commented on #679
Is this a bug or a todo documentation?

[2016-09-05 01:30] thangngoc89 commented on #679
@kevin940726 this is a TODO documentaition.

This happens because ReactDOM.render haven't mount to root container yet.

[code]

Maybe we can replace ... with something useful

[2016-09-05 01:32] kevin940726 commented on #679
I see. `...` looks like a bug a lot though, I agree we should change it or just simply left it blank?

[2016-09-05 01:34] thangngoc89 commented on #679
@kevin940726 this is a normal behaviour React app in dev mode. I think the message should be `Loading... Be patience`

Could you send a PR ?

Pretty much edit this line : https://github.com/MoOx/phenomic/blob/161dbc63410e56451af8568377ff4aab38971ac1/src/builder/server.js#L135

[2016-09-05 01:36] kevin940726 commented on #679
Sure. But just to be clear, it doesn't show on production at all right?

[2016-09-05 01:50] thangngoc89 commented on #679
@kevin940726 yes. In production, it's full HTML page.

[2016-09-05 02:40] DavidWells commented on #679
I was thinking about this the other day.

Would it be possible to provide your own default loading content here: https://github.com/MoOx/phenomic/blob/161dbc63410e56451af8568377ff4aab38971ac1/src/builder/server.js#L135 else leave it blank?

I'd like to do something like: http://tympanus.net/Tutorials/PagePreloadingEffect/ which requires some default content living in that `div` and some hardcoded

[2016-09-05 02:46] kevin940726 commented on #679
Since it only shows in development mode, which means usually only developers(us) can see that pre-loading effect. I don't see why we should implement that in the core?

But I agree that maybe blank is better than even `Loading... Be patience`, which may need extra documentation to let the users know that this message will not be seen in production. Or simply add a note like `this will only show in

[2016-09-05 02:49] thangngoc89 commented on #679
@DavidWells I think putting some coll effects their is over-engineering.

[2016-09-05 03:10] DavidWells commented on #679
@thangngoc89 I agree. How about we just remove the `...` =)

[2016-09-05 03:14] thangngoc89 commented on #679
@DavidWells Agreed. @kevin940726 could you update your PR to completely remove `...`.

[2016-09-05 03:23] DavidWells opened #724 "DX improvement: Make `phenomic start` reuse tabs instead of opening new ones"
Taking this from the `create-react-app` CLI.

When you start the `create-react-app` app with `npm start` (if on mac), it checks if your browser has an open tab at the given port and reuses it instead of opening a new tab.

I'd classify this as a nice to have feature for improved developer experience. Keeps browser tabs to a minimum.

[This is how they do it](https://github.com/facebookincubator/cr

[2016-09-05 03:25] thangngoc89 commented on #724
I'm totally agree with this. But this is for macOS only?

[2016-09-05 03:27] DavidWells commented on #724
@thangngoc89 It only works for mac users yes but It will default back to standard `opn` package if the user is on windows etc

[2016-09-05 03:28] thangngoc89 commented on #724
@DavidWells Could you send a PR. I'll be more than happy to merge it

[2016-09-05 03:28] DavidWells commented on #724
@thangngoc89 Do you know about the BSD license stuff? Can we use that applescript as is or do we need to make our own?

[2016-09-05 03:31] thangngoc89 commented on #724
@DavidWells I don't know about BSD license stuff. But React was licensed with BSD too. We can shoot a tweet to the repo's manager right?

[2016-09-05 03:36] DavidWells commented on #724
@thangngoc89 tweeted dan https://twitter.com/DavidWells/status/772638871074906112 waiting for hear back. =)

[2016-09-05 05:07] MoOx commented on #724
FYI, they probably ripped this script here http://stackoverflow.com/questions/11735471/apple-script-opening-webpage-on-chrome-and-copy-text (the similarities are more than obvious), so no big deal imo. You can even see that the license header is removed while "ejecting".
Not that this is macOS AND Chrome only.

Could be nice to make it works for other browser :)

[2016-09-05 05:14] MoOx commented on #679
What can be nice is:

- remove ...
- add a simple inline script wrapper by a setTimeout that will show "if loading is too long, your page might contains error(s), please check the console" or something like that and kill the timeout when app is mounted.

This would avoid people saying "I have a blannnnk  paaaageeee, phenomicccc is nooot workinnnnng".

Thoughts?

[2016-09-05 05:21] kevin940726 commented on #679
Never thought about that! I actually think that this is a good idea.

[2016-09-05 05:25] MoOx commented on #679
I am using this pattern on all apps I make: splash screen + timeout for potential error/slow loading + kill timeout when app is successfully mounted and people are happy with it :)

[2016-09-05 05:29] DavidWells commented on #679
Lol I want to make your life easier and avoid having to answer "I have a blannnnk paaaageeee, phenomicccc is nooot workinnnnng" support questions

Removing the content + the timeout message sounds solid to me.

[2016-09-05 05:30] thangngoc89 commented on #679
Lol. This sounds awesome to me. @kevin940726 could you implemented this?

[2016-09-05 05:30] MoOx commented on #679
I am on it ;)

[2016-09-05 05:31] kevin940726 commented on #679
Question: Is there any known way to produce such a bug so we can let the user figure out where possibly went wrong?

[2016-09-05 05:32] MoOx commented on #679
Yeah, you will see ;)

[2016-09-05 05:47] DavidWells commented on #679
@moox even better than a 'please check the console' would be printing the console error in the page when the setTimeout runs.

http://stackoverflow.com/questions/16616722/sending-all-javascript-console-output-into-a-dom-element

[code]

[2016-09-05 05:47] MoOx commented on #679
@DavidWells YOU RUINED THE SURPRISE 👿

[2016-09-05 06:48] MoOx commented on #679
I ended up doing a simple & stupid window.onerror only, as the app start really quickly, too quickly to have time to display anything useful.

Check out #725

[2016-09-05 06:55] MoOx commented on #712
Not sure why getters will help for this as we might statically call the method to get items before prerendering the page (so before injecting data in the html).
Oh you mean using getters on props of each items. Clever (but risky indeed)!
You are smart.

[2016-09-05 06:56] MoOx commented on #722
Curious to see the code you used for the Breadcrumb. This might ends up as a component we can sheep if that make sense :)

[2016-09-05 06:57] MoOx commented on #421
We might disable it for client build, not node build. Not possible?

[2016-09-05 07:16] MoOx commented on #724
I don't see how we can use this script for people that use other browser. This script enforce your to use Chrome right? Maybe I am missing something.
Also, currently, if you navigate in a page (url is not the root anymore) this script does not work since url to open !== url opened.

[2016-09-05 07:20] thangngoc89 commented on #421
AFAIK, It's not possible (or I'm overthinking).

[2016-09-05 07:44] MoOx commented on #421
We are talking about disabling/enabling a specific babel plugin depending on the env right?

[2016-09-05 07:52] #673 closed

[2016-09-05 07:53] #679 closed

[2016-09-05 08:23] thangngoc89 commented on #421
I give this another try tonight.

[2016-09-05 08:27] MoOx commented on #421
Will try too. I won't cut a new release until this is done anyway, since #714 sucks!

[2016-09-05 09:03] kevin940726 opened #727 "docs-start failed to run."
Enviroment:
* node v6.0.0
* npm v3.9.5

Steps to reproduce the bug:
* clone the master
* npm install
* npm run docs-start

Error output:
[code]

Is this [line](https://github.com/MoOx/phenomic/blob/master/scripts/docs.js#L3) meant to create symlink for the `node_modules`? Why we linked from `src` instead of `lib`?

[2016-09-05 09:10] MoOx commented on #727
This is to be able to hot load update from src when working on docs :D
I may have introduced a regression recently, will take a look asap.

[2016-09-05 10:01] kevin940726 opened #729 "Docs: gh-pages push from master branch"
Following the docs [here](https://phenomic.io/docs/usage/gh-pages/) and the example deploy script below. The script will init git every time we deploy, so the default branch should be `master` and there will be no `gh-pages` branch. The script will fail because there is no matching ref.
[code]

I've noticed that @MoOx actually changed it from `master:gh-pages` to only `gh-pages`. I wonder why?

BT

[2016-09-05 10:02] thangngoc89 commented on #727
I can't re-produce this. Which OS are you running ?

[2016-09-05 10:04] MoOx commented on #729
The current "src refspec" issue has been fixed (but not published yet) in https://github.com/MoOx/phenomic/commit/b55f19e871cc40a2a915574eab9b0465858b74f3

Maybe I did a mistake by remove `master:` in https://github.com/MoOx/phenomic/commit/b55f19e871cc40a2a915574eab9b0465858b74f3?
If so can you fix this?

Maybe we should do this and ask people if they plan to use gh-pages. That can be subject to

[2016-09-05 10:06] kevin940726 commented on #727
Mac OS X El Capitan 10.11.6

I'm gonna try to do some test again to figure out if this is only my mistake again 😰 .

[2016-09-05 10:07] kevin940726 commented on #729
Sure, I'm on it! 🎉

[2016-09-05 10:08] thangngoc89 commented on #729
Be sure to ask if you don't understand any part of the code. I'm here for the next couple hours

[2016-09-05 10:21] #729 closed

[2016-09-05 10:21] MoOx commented on #727
This line is supposed to handle the transformation... https://github.com/MoOx/phenomic/blob/30aaca23b971995432f6ed579cc564525f2ac637/docs/webpack.config.babel.js#L48
Not sure why this does not work for you...

[2016-09-05 11:31] theduke opened #731 "Referencing images in markdown"
Lets say I have a blog post and some images for the post in:

[code]

How can I get a webpack `require` url for the image into my markdown content?
Does anyone have a good approach for this?

[2016-09-05 11:52] theduke commented on #621
So, how do I go about adding a sitemap?

The problem I see is:

[code]

So how do I define an additional "/sitemap.xml" route that does not use LayoutContainer?

[2016-09-05 12:20] MoOx commented on #621
In theory, this should work (for any html url), but the problem is that pages generated are wrapped into an Html component.
My suggestion is to use something else and not rely on phenomic (eg: https://www.npmjs.com/package/simple-sitemap)

[2016-09-05 12:45] MoOx commented on #731
We need to handle this in phenomic loader. Feel free to track #147 for this.

This is kind of tricky since this will depend on the renderer you are using, but I guess it should not be that hard, especially for markdown with remark, since an AST is available!

[2016-09-05 12:45] #731 closed

[2016-09-05 12:49] MoOx commented on #731
Another solution is:

- add a loader in your webpack config for png & co using file-loader
- use relative links in your markdown

[putaindecode.io](http://putaindecode.io/) uses this technique for now. See
-  https://github.com/putaindecode/putaindecode.io/blob/4e257538a7a93060690d6122eb4f9098a030cff7/webpack.config.babel.js#L81-L85
- https://github.com/putaindecode/putaindecode.io/tree/4e257538a7

[2016-09-05 12:49] thangngoc89 commented on #147
I think we should not depends on renderer but html. We can use rehype to get a HTML AST

[2016-09-05 12:50] MoOx commented on #147
How to handle this when we will support reactdown?

[2016-09-05 12:56] thangngoc89 commented on #147
@MoOx When we use reactdown, it should just works. Like @bgryszko said, we need to require the actually markdown file somewhere and webpack will resolve the image link for us. This mean reactdown's approach.

If we keeps our current approach, we have to parse and load those images ourself, not via webpack.

[2016-09-05 13:15] MoOx commented on #147
Not sure to follow you. Currently markdown [files are require by webpack](https://github.com/MoOx/phenomic/blob/a48ccb958af6bae55ef9e8d74edde373fb01373a/themes/phenomic-theme-base/scripts/phenomic.browser.js#L17-L18). But this is not enough. We need to require() assets referenced in the files consumed by our loader to benefit of webpack core. Like css-loader does with url() https://github.com/webp

[2016-09-05 13:23] theduke commented on #621
But I need the sitemap to be available at /sitemap.xml, not just submit it to google.

I guess I could write a script to generate it and copy it to the build folder on deploy though.

[2016-09-05 13:24] MoOx commented on #621
The package I mentionned allow to write to disk, so yeah you should call it after the build (eg: npm "postbuild" hook) and this should do the trick.

[2016-09-05 13:29] thangngoc89 commented on #147
By require I mean you do it like with css files, and not with `require.context` and load content via json

For ex: `require('./foo.md')`

Those lines of code above produce this: `require(../path/to/images)`
When you do `require('./someth.css)` webpack will resolve the above require statement to actual url with file-loader (or url-loader)

[2016-09-05 13:32] MoOx commented on #147
yeah because of the code in css-loader above that tell webpack to use require on the content in url().

require.context is the same as require() when you call each items like here https://github.com/MoOx/phenomic/blob/a48ccb958af6bae55ef9e8d74edde373fb01373a/themes/phenomic-theme-base/scripts/phenomic.browser.js#L18

But maybe I am missing something related to the fact that we return custom type (

[2016-09-05 13:37] thangngoc89 commented on #147
Yes. Because we return a public path to the markdown file, so when we require it, there is not require statement for webpack to resolve.

[2016-09-05 13:46] MoOx commented on #147
Dawn, I just understood that css-loader only generate a string and that webpack will resolve require after... Well we will find a way... Will think about that after the incoming refactoring.

[2016-09-05 13:48] thangngoc89 commented on #147
Not a string. It generates a valid JS code with some require statement inside it.

[2016-09-05 13:51] MoOx commented on #147
Yeah but generate code from a string ;)

[2016-09-05 14:27] iDams commented on #680
Hi, is this issue open to new contributor / first timer?

[2016-09-05 14:30] thangngoc89 commented on #680
@iDams yes.  That's why it was tagged with `contribution welcome`.

[2016-09-05 14:33] iDams commented on #680
@thangngoc89 Nice, I'll give it a try with HOC for PageContainer

[2016-09-05 14:34] thangngoc89 commented on #680
@iDams Nice. But I think it should be a HOC for LayoutContainer. We want to catch all links, not just links inside markdown content.

[2016-09-05 14:36] iDams commented on #680
@thangngoc89 I don't see any `LayoutContainer` in the project.

[2016-09-05 14:38] thangngoc89 commented on #680
@iDams sorry. It was renamed to AppContainer. Any way, this doesn't change anything. It's a HOC, we can mount it where ever we want

[2016-09-05 14:40] iDams commented on #680
@thangngoc89 You're right. Thanks!

[2016-09-05 20:39] DavidWells commented on #724
The script does this:

[code]

As for the license from FB. I got this response: https://twitter.com/Vjeux/status/772808842618949633

So does this mean including https://github.com/facebookincubator/create-react-app/blob/master/LICENSE and https://github.com/facebookincubator/create-react-app/blob/master/PATENTS inside the folder that contains this applescript?

An alternative would be adding `crea

[2016-09-05 20:46] MoOx commented on #724
Seriously? This code has definitively been mostly ripped from here http://stackoverflow.com/questions/11735471/apple-script-opening-webpage-on-chrome-and-copy-text (2012) or from another place that used another source. This is crazy.

FYI https://twitter.com/MoOx/status/772897845854732289

Anyway, I won't add cra as a dep for a single script (kind of ripped), so I will just go for recoding this us

[2016-09-05 20:48] MoOx commented on #724
Btw, if "opn" bother you, you can disable "open" by adding "open: false" in your phenomic config ;)

[2016-09-05 21:16] DavidWells commented on #724
Sounds good. It is a convenience feature for sure but is super nice. (seriously try `create-react-app`'s npm start a couple times)

- Refreshes the same url (ie localhost:3333/my-current/path/xyz) instead of loading the homepage everytime (localhost:3333)
- Opens browser back to the same tab and keeps the single tab

The fact that it reopens the same url, not just the homepage, is a time save for

[2016-09-06 04:59] kevin940726 commented on #727
Just cleaned the npm cache and it suddenly works... I am just going to close it as I cannot re-produce the bug anymore and it is most likely not a bug of this project at all.

[2016-09-06 04:59] #727 closed

[2016-09-06 06:58] MoOx commented on #532
I implemented this, but the bad part is that enabling this seems to disable hard source plugin (which is far better than dll). I opened an issue so I hope we could benefit from hard source AND dllplugin at the same time. https://github.com/mzgoddard/hard-source-webpack-plugin/issues/18

Meanwhile I will ship the hard source option (eg: 20s to 4s for the docs).

[2016-09-06 14:58] ben-eb opened #732 "Generate routes for data coming in from outside phenomic"
Currently, pages such as http://cssnano.co/optimisations/discardDuplicates will respond with a 404 error code on initial load, then the routing will kick in and display the page. This is because the data for this page comes from outside phenomic:

https://github.com/ben-eb/cssnano/blob/2ad9e47263efc6581dec1cd45ad1b2e20b9d49ab/docs/web_modules/app/metadata.js#L27

The page is then routed here:

htt

[2016-09-06 15:06] MoOx commented on #732
I will implement a workaround so you can have this before we handle the big change related to #713 :)

[2016-09-06 15:34] iDams commented on #680
What is the difference between `src` at the root and `src` in `/docs`?
On which one should I focus on?

[2016-09-06 16:39] thangngoc89 commented on #680
@iDams hi there. `src` was the core of Phenomic. And `/docs` is a website which is created by Phenomic (well dogfooding) so if you want to work on a feature to Phenomic, you will need to focus on `src`

[2016-09-06 19:13] MoOx commented on #421
On it.

[2016-09-06 19:31] thangngoc89 opened #733 "Use babili instead of UglifyJS"
https://github.com/babel/babili

I have no idea how UglifyJS or babili works under the hood, so I'm posting this to get responses from everyone. Shall we do it now? Or wait until it's more mature.

[2016-09-06 20:12] MoOx commented on #680
@iDams use the chat https://gitter.im/MoOx/phenomic if you need a hand for this :)

[2016-09-06 20:25] DavidWells commented on #680
Should the hover add the page to the pages array or to a new key `preFetched` in state?

I had plans on using the `pages` state for some analytics stuff and it won't be accurate if the hover adds stuff to it (aka visitor may not have actually visited page)

There are potentially other reasons why we'd want this prefetched page in a different key for remote debugging etc.

[2016-09-06 20:27] MoOx commented on #680
@DavidWells pages store will go await soon, don't rely on this. Phenomic data won't be store in redux anymore (read only, no real need), and we will provides HoC for consuming collection instead of the current mess.

[2016-09-06 20:34] DavidWells commented on #680
Ok cool. Looking forward to seeing some of the updates.

Redux isn't going away is it? I'm using that for user auth stuff (I guess it would still work with phenomics wrapper though heh)

[2016-09-06 20:37] MoOx commented on #680
Redux is going await for Phenomic, but you will definitely still be able to use it on your own. I will provide migration instructions for people that rely on it, don't worry ;)

[2016-09-06 20:48] MoOx opened #734 "phenomic-cli: make setup fast & more easy, (one install, one command?)"
We need to improve that, current setup page is not appealing.

Maybe create a phenomic-cli or something when handling #598.

Something fast, so not a electron app yet :D

[2016-09-07 00:59] thangngoc89 commented on #734
Which kind of work flow do you expect?

npm install -g phenomic-cli
phenomic-cli new my-site

[2016-09-07 05:35] MoOx commented on #421
OK it was alsmost easy until you want to disable es2015 modules for webpack only :)

[2016-09-07 06:47] MoOx commented on #421
Now the tricky part is react-hot-loader update :)

[2016-09-07 06:56] thangngoc89 commented on #421
:+1:

[2016-09-07 07:43] iDams commented on #680
@thangngoc89 @MoOx thanks!

[2016-09-07 10:05] kevin940726 commented on #733
I believed that we kind of need to support older browser, as babili actually only minify es6 code without transpiling to es5.

[2016-09-07 10:07] MoOx commented on #733
transpilation to es5 is also handled by babel, so not sure this is an issue.

[2016-09-08 17:35] thangngoc89 commented on #421
Tracking this https://github.com/mzgoddard/hard-source-webpack-plugin/issues/27

[2016-09-08 18:30] MoOx commented on #663
Closing in favor of #736. Thanks @drFabio!

[2016-09-08 18:30] #663 closed

[2016-09-08 20:44] MoOx commented on #450
We just got an issue about that with @montogeek. importing a file from webpack config that is written in es6 but don't have .babel.js breaks everything. And it sucks. So module.exports or .babel.js... until we fix this.

[2016-09-08 23:01] MoOx commented on #46
webpack-2 branch now use react-hot-loader@3, so we are now able to use stateless component everywhere when possible!

[2016-09-08 23:04] MoOx commented on #421
Closing in favor of #737

[2016-09-08 23:04] #421 closed

[2016-09-10 15:25] thangngoc89 commented on #513
Also, `$ phenomic some-unknow-command` exits silently without a warning

[2016-09-11 11:25] thangngoc89 opened #739 "Build doesn't show `phenomic:static` log entries after upgrading to 0.16.0"
0.15.0

![image](https://cloud.githubusercontent.com/assets/3049054/18416772/b1c40f6e-7847-11e6-8297-73c67739f2b9.png)

0.16.2

![image](https://cloud.githubusercontent.com/assets/3049054/18416935/20062c46-784d-11e6-8319-6540088f0937.png)

[2016-09-11 13:57] thangngoc89 commented on #630
Did you know about  spike?

https://github.com/static-dev/spike-core/blob/master/readme.md

It's another SSG that uses Webpack as its compiler. And it has a very flexible plugin API. I'm investigating it

[2016-09-11 19:34] MoOx commented on #739
Is this just an log issue? Or is there missing files?

[2016-09-11 19:39] thangngoc89 commented on #739
it looks like missing files for me. No `.nojekyll`

[2016-09-12 15:38] thangngoc89 opened #740 "Add correct meta tag when feed to boilerplate"
For example

[code]

[2016-09-13 01:02] DavidWells commented on #680
@MoOx @thangngoc89 I'm trying to get this rolling.

Where would I start?

If redux is going away, where is the fetch call happening and how can I add the requested `json` to the cache? https://github.com/MoOx/phenomic/blob/master/src/redux/modules/pages.js#L94-L97

[2016-09-13 01:32] DanielFGray commented on #734
a yeoman generator could be a good choice

[2016-09-13 05:04] thangngoc89 commented on #734
@DanielFGray did you try settting up a new phenomic project? We have everything in place, just need a better flow for new user

[2016-09-13 05:06] thangngoc89 commented on #680
@DavidWells make a HOC that add event listener on every link inside it. The callback for that listener should be passed as props. We can swap it later when redux goes away

[2016-09-13 05:07] thangngoc89 commented on #680
(basically you are making a React component)

[2016-09-13 08:21] iDams commented on #680
@DavidWells I was already trying to work on it but you can do it. You started the issue and I don't have time right now to work on it. I'll take another issue when I see one for new contributor ;)

[2016-09-13 08:23] MoOx commented on #680
@DavidWells not sure what is the best approach yet, I am finishing webpack 2 integration + caching and I will remove redux after that (and will think of a way to handle this issue).

@iDams you can probably take any issue you want, just ask for it so we can point you in the right direction :)

[2016-09-13 08:25] iDams commented on #680
@MoOx sounds good! 👍

[2016-09-13 12:09] thangngoc89 commented on #610
I didn't use Phenomic for this job. I wrote a simple server and embed the result to the website.

[2016-09-13 12:26] MoOx commented on #610
I think with the current state of the project, this will be very easy. I might handle this later via a loader plugin since my wife website use a lot of photos.

[2016-09-13 12:28] thangngoc89 commented on #610
@MoOx nice!

[2016-09-13 12:41] thangngoc89 commented on #461
Netlify CMS is being re-written in React. This is definitely my choice for a CMS Admin based on Github once it was merged to master branch.

Check it out https://github.com/netlify/netlify-cms/tree/react-pr

Also there is one thing you have to consider: There is no way to login to Github using Oauth 1 without a server. So you might need a server running somewhere or use Netlify hosting service for

[2016-09-13 13:02] thangngoc89 commented on #545
I sent a PR to create-react-app to fix this issue here https://github.com/facebookincubator/create-react-app/pull/620

Poke @MoOx should I do the same here?

[2016-09-13 20:43] MoOx opened #742 "React-router v4"
Well, `<Route>`s are gone... We will have work to thing about that. Maybe things will become even better, not sure yet...

https://react-router.now.sh/basic

[2016-09-13 22:02] MoOx commented on #739
From my test, only the logs are missing. It seems that something is changing process.env.DEBUG value to undefined... But I have correctly the post build step. Maybe it's time to find a better way than debug module...

[2016-09-13 22:18] DavidWells commented on #742
Interesting. Looks like `<Route>` is now `<Match pattern="/about" component={About} />`

[2016-09-13 22:26] DavidWells opened #743 "Highlight JS not working in CI/CD build"
Totally random but it would appear that `remark-highlight.js` will run in local dev for me, and on local `phenomic build` but not inside of my continous deployment pipeline through netlify. It's running node 6 if that matters.

Did something change with how remark works? Netlify is getting fresh copies of all npm modules each time it builds.

**Local dev and build that works:**
![image](https://cl

[2016-09-13 22:32] MoOx commented on #739
Can't find the culprit here... I will remove "debug" because I am lazy. Anyway we don't really use it for it's main purpose: filter.

[2016-09-13 22:39] MoOx commented on #46
webpack 2 and react-hot-loader v3 are on master, so contributions are welcome:
- remove this rule https://github.com/MoOx/phenomic/blob/eb31532bc3d3dd20ec5238754b0868476df431bc/package.json#L233-L236
- remove this rule in docs & default theme template
- update components!

[2016-09-14 04:46] MoOx commented on #743
This is weird. I think I got the issue but it was before last update. What version of remark and remark highlight are you using?

[2016-09-14 04:54] thangngoc89 commented on #739
Maybe I missed something here. Anyway, debug is unnecessary

[2016-09-14 09:08] MoOx commented on #743
@DavidWells You should probably update your remark deps like mentionned here https://github.com/MoOx/phenomic/blob/21ad633ad382ee3b70d662c79fc5f514a8722b34/CHANGELOG.md#details this might fix your issue. Let me know if that helps.

[2016-09-14 13:23] MoOx opened #745 "FAQ: what are the <!-- react-empty: 2 --> comments ? Can I disable those?"
https://gitter.im/MoOx/phenomic?at=57d94e547b9f8167114987c7

[2016-09-14 19:25] DanielFGray commented on #734
Yeah I've just started with phenomic. I really dig it, but the whole `DIR=your-website-folder && mkdir $DIR && cd $DIR && mkdir node_modules && npm i phenomic && ./node_modules/.bin/phenomic setup && npm i` is a bit much. yeoman should be able to handle all of that. it uses inquirer as well, which seemed to be in use for the setup script.

I have yet to make a yeoman generator myself, but I'll hav

[2016-09-14 19:30] thangngoc89 commented on #734
@DanielFGray Thanks for your feedback. As you said the whole command sucks.

My idea so far is creating a global phenomic cli that should never changed. If user want to create a new phenomic project, this is what they have to do:

[code]

This will run `DIR=your-website-folder && mkdir $DIR && cd $DIR && mkdir node_modules && npm i phenomic && ./node_modules/.bin/phenomic setup && npm i`

Sounds g

[2016-09-14 19:35] DanielFGray commented on #734
It doesn't sound bad in the slightest, I just can't help thinking there's a certain amount of re-inventing the wheel there, and that off-loading it to yeoman could be a lot less work than writing a `phenomic-cli` project from scratch.

Just my two cents, I would be happy to use either.

[2016-09-14 19:41] DavidWells commented on #743
@MoOx yep that was the problem.

I had older versions of remark as dev deps in our site. Removed them and everything magically worked.

Thanks =)

[2016-09-14 19:41] #743 closed

[2016-09-14 19:44] MoOx commented on #734
First keep in mind that the first part of the command (`DIR=your-website-folder && mkdir $DIR && cd $DIR && mkdir node_modules`) is the kind of instructions that no project includes.
Most of the time, when you start a project, you create a folder by yourself, and sometimes, already have a package.json.
So here the necessary evil is really `npm i phenomic && ./node_modules/.bin/phenomic setup && np

[2016-09-14 19:55] thangngoc89 commented on #734
@MoOx how about putting the whole code in a bash file (or cmd for Windows). The cli just need to download and execute it. We can have a `stable` branch serves as a source of truth to download those scripts. It should be super easy (IMHO)

[2016-09-14 20:06] MoOx commented on #734
No need for a branch, we can probably directly reach latest stable tag ;)
But yeah the cli should be pretty dumb so we don't have to update it. Or we can use https://www.npmjs.com/package/update-notifier

[2016-09-14 20:08] thangngoc89 commented on #734
I think it should be both. cli should be pretty dumb and we should use update-notifier.

[2016-09-14 20:18] thangngoc89 commented on #545
I have a local wip but it uses Jest.

Waiting on #744

[2016-09-14 23:49] thangngoc89 commented on #714
This was resolved in master branch

[2016-09-14 23:49] #714 closed

[2016-09-14 23:55] thangngoc89 commented on #621
This should be easy now, but still require some works.

You can take a look at [Loader Feed Webpack Plugin](https://github.com/MoOx/phenomic/blob/master/src/loader-feed-webpack-plugin/index.js) and make a similiar Plugin (Loader Sitemap Webpack Plugin)

Use [sitemap](https://www.npmjs.com/package/sitemap) to generate `sitemap.xml` from list of urls.

[2016-09-15 00:18] thangngoc89 commented on #207
The implementation should be straight forward. You can use this commit as your guide https://github.com/MoOx/phenomic/commit/c7bd54951377f0eb523f4dbb67df4e1cae1e28e6

[2016-09-15 00:20] thangngoc89 commented on #680
@iDams be sure check out our new [Help wanted](https://github.com/MoOx/phenomic/projects/4) board

[2016-09-15 06:25] MoOx commented on #207
I don't think it's "that" simple. I want to ship a best practice. So we should include favicons/ios/android/edge icons. So maybe use http://realfavicongenerator.net/ engine (I think there is siomething in node, we could even make a loader or a simple script to automate this).

[2016-09-15 06:35] MoOx opened #748 "GitHub "Projects" usage"
I think Projects should be used like scrum & kanban boards:

- a project is a goal (eg: core, collection, docs (& website)?) more than a label (like Help wanted).
- this will help to prioritize (maybe something like:
  - icebox: users feature request, bugs etc
  - backlogs: issue to handle, reformulated for our project & matching our requirements, ideology
  - wip

The problem with the "help wante

[2016-09-15 07:01] MoOx commented on #462
What do you think of this https://github.com/MoOx/phenomic/projects/2 ?

[2016-09-15 07:35] iDams commented on #680
@thangngoc89 I will thanks!

[2016-09-15 12:22] #739 closed

[2016-09-15 20:21] MoOx commented on #647
Closed by #741

[2016-09-15 20:21] #647 closed

[2016-09-15 20:51] thangngoc89 commented on #718
Resolved in #741

[2016-09-15 20:52] MoOx commented on #718
eslint has not been updated.

[2016-09-15 20:52] thangngoc89 commented on #718
oops. Sorry

[2016-09-15 21:42] MoOx commented on #46
Closing in favor of #747

[2016-09-15 21:42] #46 closed

[2016-09-15 21:45] MoOx commented on #433
Will revisit while doing the monorepo #598

[2016-09-15 21:45] #433 closed

[2016-09-15 21:46] MoOx commented on #442
Closing as it's pretty nice in current master branch.

[2016-09-15 21:46] #442 closed

[2016-09-15 21:59] MoOx commented on #686
Closing in favor of #713

[2016-09-15 21:59] #686 closed

[2016-09-15 22:02] MoOx commented on #748
For now roadmap and "contrib welcom" will be enough. Not even sure for contrib welcome as all those issue should be simple. Maybe we need "contrib welcome" and "help wanted"...

[2016-09-15 22:02] #748 closed

[2016-09-16 18:18] DavidWells commented on #722
This is the breadcrumb component: https://github.com/serverless/site/blob/master/src/components/Breadcrumbs/Breadcrumbs.js

and here is how it's being used: https://github.com/serverless/site/blob/master/src/layouts/Doc/index.js#L146

Right now it assumes that all URLs in the path exist. Do everything in our site have an index.md in it.

But it could be wired up to cross reference the collection t

[2016-09-16 21:18] DavidWells commented on #621
Wrote this custom script to handle this for me in the meantime:

Note: The `node-dir` npm package is super handy for dealing with markdown manipulation as well. Just an FYI (see: https://github.com/serverless/site/blob/master/scripts/blog/update-blog-yaml.js )

[code]

[2016-09-16 22:22] MoOx commented on #518
Easy fix: just remove "?fix" in webpack config of the defautl theme.

[2016-09-16 22:49] #518 closed

[2016-09-16 22:53] MoOx commented on #670
Will revisit this later as it's not a phenomic bug

[2016-09-16 22:53] #670 closed

[2016-09-16 23:01] MoOx commented on #428
Meanwhile for GA:
- https://github.com/MoOx/phenomic/blob/b641f0f6eea2979604cb5e785b581bfeb54bfcf5/docs/src/AppContainer.js#L15
- https://github.com/MoOx/phenomic/blob/b641f0f6eea2979604cb5e785b581bfeb54bfcf5/docs/src/components/GoogleAnalyticsTracker/index.js

[2016-09-16 23:08] thangngoc89 commented on #428
There is a tutorial https://theduke.at/blog/develop/how-to-use-google-analytics-with-phenomic/

[2016-09-17 12:53] thangngoc89 commented on #692
My suggestion:

[code]

This should make a good convention for users who want to explore many different Phenomic projects

[2016-09-17 12:59] thangngoc89 opened #755 "Deploy docs to surge.sh on each branch or at least master"
Since we've built docs on each commit, deploying docs to a live website is a right thing to do and it shouldn't make us to wait longer for build result.

surge.sh is a good tools for doing this since all it takes to deploy a website is this

[code]

We can use a subdomain like:

[code]

I can handle this if you config DNS for phenomic.io correctly. See https://surge.sh/help/adding-a-custom-domain

[2016-09-17 13:02] thangngoc89 commented on #450
Again:

I can handle this if this is the way you want to do it. We don't need `babel-node`

[2016-09-17 13:11] thangngoc89 opened #756 "Setup CI for macOS on Travis CI"
"Modern" projects these day usually have build for 3 major OSes. What do you think?

[2016-09-17 18:44] DavidWells commented on #755
Good idea.

We did this with travis:

[code]

[code]

Your surge credentials need to be setup in your CI system for this to work

[2016-09-18 19:42] thangngoc89 commented on #142
I'm on it.

# TODO:

- [ ] Build index
- [ ] Reduce api requests to Algolia on each build by hashing the page content and only send changed page.

# Resources:

- https://blog.algolia.com/instant-search-blog-documentation-jekyll-plugin/
- https://blog.algolia.com/how-to-build-a-helpful-search-for-technical-documentation-the-laravel-example/

# Example record

[code]

[2016-09-18 20:13] thangngoc89 opened #759 "Use lru-memoize for enhanceCollection"
`window.__COLLECTION__` never changes so caching the result is a must if we don't want to re-calculate

We can use [lru-memoize](https://github.com/erikras/lru-memoize) with a high limit (100 ?)

If you are working on this and having trouble with lru-memoize definition for flow, you can look at this https://github.com/MoOx/phenomic/pull/720

[2016-09-18 20:14] MoOx commented on #759
All those stuff are going away, we should not spend energy on this.

[2016-09-18 20:17] thangngoc89 commented on #759
@MoOx ah. ok. this should be 2 LOCs. And I'm having trouble with this on a site with 200 pages. (filter and limit).I guess I can apply the patch on my side then.

[2016-09-18 20:18] MoOx commented on #759
If it's too line, feel free to handle it then :D

[2016-09-18 20:19] thangngoc89 commented on #759
I will

[2016-09-18 20:21] MoOx opened #760 "Docs: Stop building screenshots for docs on CI"

[2016-09-18 20:25] MoOx commented on #755
What is the benefit of deploying a unstable documentation?

[2016-09-18 20:29] thangngoc89 commented on #755
For me, I often use the unstable version of Phenomic. And reading docs on the website is way cooler than on Github.

[2016-09-18 20:32] MoOx commented on #756
I think macOS is a unix based system so it's not require as we are not doing anything special except having to deal with windows path.

[2016-09-18 20:33] MoOx commented on #756
Also, this will slow down CI a lot.

[2016-09-18 20:34] MoOx commented on #450
We do need babel-node to allow webpack.config being written in es6+.

[2016-09-18 20:34] MoOx commented on #450
Try without an we will see...

[2016-09-18 20:35] thangngoc89 commented on #756
Yup. It will slow down CI a lot.

We'll never know. Testing is the right thing to do. Some projects run macOS build and Travis and Linux build on others CI like CircleCI or Wercker.

[2016-09-18 20:35] MoOx commented on #692
What is currentConfig & userCustomConfig?
Why not just a flat config?

[2016-09-18 20:36] thangngoc89 commented on #450
OK. I'll work on it.

[2016-09-18 20:37] MoOx commented on #756
I am a macOS user and never got any issue for node projects, so not sure it's really useful. The day we will encounter issues on macOS we can think about this.

[2016-09-18 20:40] thangngoc89 commented on #692
No thing wrong with a flat config. But IMHO, breaking the configs to framework and site section would make it more organized.

- currentConfig is configurations for Phenomic itself (offline, CNAME, assets, devPort).
- userCustomConfig is for theme/component configs like googleAnalystic, cssnext's variable.

[2016-09-18 20:41] thangngoc89 commented on #756
OK. !

[2016-09-18 20:43] MoOx commented on #692
We could allow this

[code]

[2016-09-18 20:45] thangngoc89 commented on #692
[code]

This is better :D

[2016-09-18 20:49] #756 closed

[2016-09-18 21:40] #617 closed

[2016-09-18 21:40] #627 closed

[2016-09-18 21:40] #689 closed

[2016-09-18 21:40] #702 closed

[2016-09-18 21:40] #497 closed

[2016-09-18 21:40] #595 closed

[2016-09-18 21:40] #602 closed

[2016-09-18 21:40] #661 closed

[2016-09-19 06:41] DavidWells commented on #742
https://www.youtube.com/watch?v=Vur2dAFZ4GE (new router stuff discussed after first 20min)

Looks super cool

[2016-09-19 09:19] thangngoc89 commented on #742
Super cool!

[2016-09-19 17:57] DavidWells commented on #713
I wanted to follow up on this thread.

What do you guys think about normalizing the collection by perhaps URL?

This way we can have a constant lookup time

[code]

You could still map over the data with `Object.keys` if you want =)

Maybe even going a step further with https://github.com/paularmstrong/normalizr

I can probably just do this in user land but I wanted to float the idea around here a

[2016-09-19 18:00] bloodyowl commented on #713
With the idea we have, there's not really a need for this. But if you want to create a "static API" from your contents, that should be totally possible in user-space 😃

[2016-09-19 18:00] thangngoc89 commented on #713
@bloodyowl any progress on this?

[2016-09-19 18:56] #760 closed

[2016-09-19 19:04] MoOx commented on #713
I am thinking about the fact that currently we use the entire collection to know if a click must be done using browser push + preventDefault :/

[2016-09-19 19:24] #759 closed

[2016-09-19 20:11] thangngoc89 commented on #666
This question was ask twice today on gitter.

[2016-09-19 20:50] DavidWells commented on #713
@MoOx I was thinking about this too.

Perhaps it could be solved with a 'smarter' link component.

Where each link component gets additional data attributes added to it on build. Then the link listener wouldn't need to check the collection it could just use the inline `data-attr` on the a tag.

example:
[code]

This might even let us remove the need for the entire collection to be placed on the wi

[2016-09-20 05:38] MoOx opened #767 "webpack@2 introduced a breaking change between beta22 & beta23"
Basically all configuration for eslint-loader, postcss-loader, sass-loader need to be moved out of webpack config as it's validated AND THROW ERRORS. Well... Fuck semver.

- https://github.com/webpack/webpack/pull/2974
- https://github.com/webpack/webpack/issues/3018

"Official" solution is to move those options into a loader plugin call...

https://github.com/webpack/webpack/pull/2974#issuecommen

[2016-09-20 06:04] DavidWells commented on #767
![O no!](https://media.giphy.com/media/yedDQGWwq0heU/giphy.gif)

[2016-09-20 07:44] MoOx commented on #767
Ok this has not been clear but it seems that query accept any JS now. This will do the trick.
Also what will need to be done:
- remove makeConfig (webpack 2 support directly a function)
- replace "loaders" by "rules"
- replace custom key by query directly